[2020-06-04 02:11] bleungAtGTI commented on #2875
@wag110894,
yep,
1. scroll bar inside the select component <-- yes, it is normal
2. scroll bar inside the table <-- this is not excepted

[2020-06-04 07:08] pjmuller commented on #2666
@randallknutson +1, this is blocking for us, and I guess it should be blocking for everyone ;)

[2020-06-04 10:11] sand-bh opened #2881 "In old version of formio.js in that getAllComponents() method available. But in newer version of formio.js it not available"
I used old version of formio.js in that getAllComponents() method available. i used that method to get all components in the form. I upgrade formio.js to newer version, but in newer version getAllComponents() method not available. Is there another method to get all components of the form

[2020-06-04 14:41] randallknutson commented on #2877
When you use a dot in the property name it will assign the value inside an object and can mess up some of the logic like in this case.

Instead what you can do is place the field within a container, instead of using a dot, which is the other way of creating an object. This should then work with field logic correctly.

[2020-06-04 14:46] wag110894 commented on #2666
@pjmuller @gregbown

Thank you both for reaching out. We are able to replicate the issue and have created a ticketed and have assigned this to one of our developers as a high priority item.

We will let you know once this issue has been resolved. For reference, the ticket number is FJS-986.

[2020-06-04 14:46] randallknutson commented on #2878
Thanks for the report. We should look into getting this fixed. Would it work if we changed out "subFormReady" on this line for "ready"? Ready will either return subFormReady or a Promise.resolve();

https://github.com/formio/formio.js/blob/master/src/components/form/Form.js#L220

[2020-06-04 15:02] paffle commented on #2650
But you can't set the valid flag for the datagrid itself, right? E.g. this scenario: the datagrid is not valid unless the submitter has entered at least 5 years' worth of address history. So I need to say datagrid.valid=true if start date of any row is > 5 years ago. If datagrid not valid, then the submitter can't submit.

[2020-06-04 15:16] wag110894 commented on #2875
@bleungAtGTI,

This is a styling issue with the builder app. It should be able to be resolved by adding some CSS.

[2020-06-04 15:26] wag110894 commented on #2878
@robertaird

For reference, the ticket number is FJS-987.

[2020-06-04 20:38] travist commented on #2877
I believe we just pushed up a fix for this issue this morning.  It includes this PR https://github.com/formio/formio.js/pull/2887

[2020-06-04 20:42] travist commented on #2650
You can refer to the datagrid from within the calculated value.  This is harder that you are using dates meaning "5 years ago" which requires our moment support, but here is what it would look like if these were just number fields..

[code]

[2020-06-04 23:00] tnorthcutt commented on #2738
Thanks, @randallknutson.

Do you happen to have an example of how to do that with the vanilla JS library? I'm struggling to connect the dots between the code you linked and using just the vanilla library... long week 😁

[2020-06-04 23:04] learner291 commented on #2877
Downloaded the latest version (v4.10.0-rc.10) and the entity.FieldName notation works as expected, thank you.

[2020-06-04 23:04] #2877 closed

[2020-06-05 02:38] #2858 closed

[2020-06-05 03:14] airarrazaval commented on #2841
I think I get what is happening.  When you click on the input and the cursor is at the end, because the value is 0, when you type nothing will be inserted.

![image](https://user-images.githubusercontent.com/9391489/83831290-10d66980-a6b5-11ea-9143-e26a98f6d70e.png)

This happens because a number such as 01 is not a valid number. Now, if you click at the start of the input, you will be able to ins

[2020-06-05 06:48] bobslee commented on #1545
Hi, any update?
This issue still remains in version 4.9.26.

[2020-06-05 07:06] bleungAtGTI commented on #2875
@wag110894
I found a solution for edit css
https://github.com/jshjohnson/Choices/issues/568

But any suggestion or comment for this change?
![](https://github.com/bleungAtGTI/misc/blob/master/formio_issue_2875_solution.png?raw=true)

[2020-06-05 09:09] darabi commented on #2627
@randallknutson: what do you think?

[2020-06-05 12:07] cristo1985 opened #2890 "How can i add id and onChange function for each input (text, checkbox etc..)?"
Hi,
i've built this using fantastic formio.js plugin!

http://jsfiddle.net/travistidwell/v38du9y1/

But my questions is as I already mentioned in the title.

Sorry for my bad english.

I need this help early.

Thanks
Cristian

[2020-06-05 13:03] cmarcal commented on #1627
Hi !!
I need to fix is done in any old or new branch, because need to solutions for my job =(

[2020-06-05 14:12] jhen1422 commented on #1545
@bobslee This ticket is still in our backlog and we don't have a timeline on when this item will be prioritized. If you need this item expedited, please feel free to contact support@form.io for pricing.

[2020-06-05 14:45] wag110894 commented on #2627
@darabi

This issue has been added to one of our developers list to resolve. We will let you know once this issue is resolved.

For reference, the ticket number is FJS- 957.

[2020-06-05 14:46] travist commented on #2875
You can actually add a style override in the formio.scss file which gets compiled as part of the renderer. If you add this override there, we will accept it into the next renderer version.

[2020-06-05 14:48] randallknutson commented on #2738
I don't have a good example of this and tried to do it yesterday. Looks like in the ngFormio library we are just manually calling formLoad. https://github.com/formio/ngFormio/blob/master/src/directives/formio.js#L56-L61

You can probably do something like this where you just set the form again after the promise resolves.

[2020-06-05 14:48] travist commented on #2890
This is already done using the event emitter on each component. You just need to listen for the change event.

[code]

[2020-06-05 14:48] #2890 closed

[2020-06-05 14:52] cristo1985 commented on #2890
Ok but...if I wanna associate with my own id for each component how can I do that?
For example:

` { "label": "NC chiusa positivamente",
                               **"id": "myownid",**
                                "tableView": false,
                                "key": "ncChiusaPositivamente",
                                "type": "checkbox",
                                "input": tr

[2020-06-05 15:19] bobslee commented on #1545
That's not necessary. Let's wait on your planning and need :)

[2020-06-05 20:56] travist commented on #2890
What is the purpose of adding your own ID? You can just set this on the component JSON passed to the event.

[code]

[2020-06-06 09:13] nichtich opened #2893 "[Feature] Import/Export XML Forms Data Format (XFDF)"
It should be possible to convert between XML Forms Data Format (XFDF) and [Form JSON Schema](https://github.com/formio/formio.js/wiki/Form-JSON-Schema). This may also be implemented as independent application but integration into form.io would be best for useability.

[2020-06-07 12:39] cristo1985 commented on #2890
Ah ok so I just put id as indicated by you. I try thanks :)

[2020-06-07 14:51] cristo1985 commented on #2890
Hi @travist , i've also tried to make simple page with this code:

`<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">

  <title>The HTML5 Herald</title>

<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
<link rel="style

[2020-06-08 13:12] mohlendo opened #2898 "Regexp in getArrayFromComponentPath utils function does not work in FF 77 and Safari 13.1"
The utils function `getArrayFromComponentPath` at  https://github.com/formio/formio.js/blob/9ea4ca12dd39378cedda63fcc8a598d19e58c7f0/src/utils/utils.js#L1112 leads to a syntax error `SyntaxError: Invalid regular expression: invalid group specifier name` on Safari 13.1 and FF 77.

[2020-06-08 14:28] randallknutson commented on #2893
This is not something we have a lot of familiarity with but are definitely open to. Is this something you could help us implement?

[2020-06-08 15:28] wag110894 commented on #2666
@pjmuller @gregbown,

Thank you for your patience while we worked on getting FJS-986 resolved. You will no longer get the infinite loop error when you use our Formio.js builder, which is now running on 4.10.0-rc11.

[2020-06-08 15:30] #2666 closed

[2020-06-08 16:04] jhen1422 commented on #2847
@phucduong86 issue should be resolved in version 4.10.0-rc.11

[2020-06-08 16:04] #2847 closed

[2020-06-08 16:21] jhen1422 commented on #1627
@phucduong86 This issue is resolved in version 4.10.0-rc.9

[2020-06-08 16:21] #1627 closed

[2020-06-08 16:56] jhen1422 commented on #2498
@4gsim This issue has been resolved in version 4.10.0-rc9

[2020-06-08 16:56] #2498 closed

[2020-06-09 10:06] nichtich commented on #2893
We have some PDF forms (or try e.g. https://www.jotform.com/ to create PDF forms), I'll try to extract XFDF and convert to form.io JSON

[2020-06-09 12:04] almogn55 opened #2903 "[BUG] accessibility"
There is a problem with the forms accessibility affecting users with disabilities that uses Screen Readers programs.
Users can't know the input name.

The <label> need to have property of "for" that contains the "id" of the input.

For example:
<label for="myInput">Name</label>
<input id="myInput" />

https://www.w3.org/TR/WCAG20/
https://www.w3.org/WAI/tutorials/forms/labels/

[2020-06-09 12:10] viswateja1992 opened #2904 "[BUG] set dynamic content to HTML component based on Text area value"
Hi

I have text area where I will enter data or html code and it needs to be set to content of HTML component.

Basically Html component will preview the data entered in Text area

![image](https://user-images.githubusercontent.com/9268673/84145629-dd5e5b00-aa77-11ea-8b33-0d3e3fdb3cff.png)

I tried setting calculated value of html component but its not working

![image](https://user-images.githubu

[2020-06-09 14:50] randallknutson commented on #2903
We may need some more specifics about this issue. We do add a "for" on labels linked to the "id" on inputs for all of our components. This can be overridden by templates though and we have many different templates like bootstrap, semantic and material. Can you tell us which template you are using, which component isn't working and what the html actually looks like that needs to be fixed?

[2020-06-09 16:11] jnewman30 commented on #524
This still doesn't work... Even in the example in the link above on your page:
https://help.form.io/tutorials/walkthroughs/dynamic-select-filtering/

[2020-06-09 19:42] wag110894 commented on #524
Hello @jnewman30,

Apologies that the example is not currently working. We will work on getting that fixed. In the meantime, here is an example of dynamic-select-filtering working: https://jsfiddle.net/g3Lzh21x/.
You can also download the project schema at the link you mentioned above and follow the documentation and see that it does work.

[2020-06-09 20:42] wag110894 commented on #2904
Hello @viswateja1992,

Here is an example of how you can accomplish this: https://evzowcsidcifltd.form.io/formiojsissues2904

I hope that this helps.

Thank you.

[2020-06-10 04:01] viswateja1992 commented on #2904
It's working . Thank you

[2020-06-10 04:01] #2904 closed

[2020-06-10 07:13] AndreyOsipkov opened #2905 "[BUG]"
Hello! I looked for errors, they were similar, but I did not find with such a case

## Environment
Please provide as many details as you can:

- Hosting type
  - [x] Form.io
    - Version: the last
- Formio.js version: the last
- Browser: Browser: Chrome
- Browser version:  Google Chrome 81.0.4044.138

## Steps to Reproduce
1. add to the form Radio Component
2. on the data tab add the following va

[2020-06-10 09:52] almogn55 commented on #2903
for example look in the demo:
https://formio.github.io/formio.js/

Look at the image attached:
https://i.imgur.com/nxU72ob.png

[2020-06-11 10:46] gape16 opened #2912 "Form.io angular Component tab modal edit"
Hi,
I use formio angular (2) and i just need to define in option.ts file, the position of a component. FOr example, in textfield, the protected field is in data tab but in need this in display tab...
How can i do that ?

Thanks !!! :)

[2020-06-11 18:03] ProteanHub opened #2917 "[BUG] Unable to edit item inside column"
## Environment
Please provide as many details as you can:

- Hosting type
  - [] Form.io
  - [x ] Local deployment
    - Version: Only using form builder with our custom framework
- Formio.js version: 4.10
- Frontend framework: Bootstrap 3
- Browser: Chrome (Mac)
- Browser version: 83.0.4103.97

## Steps to Reproduce
1. Create a form with a column component (default of 2 columns is fine)
2. Drag a

[2020-06-11 18:25] wag110894 commented on #2905
@AndreyOsipkov

Thank you for your patience, this issue is resolved in the 4.10.0 build of formio.js.

[2020-06-11 18:25] #2905 closed

[2020-06-11 20:47] wag110894 commented on #2917
Hello @ProteanHub thank you for reaching out!  We are able to replicate this issue and have created a ticket for this issue. For reference, the ticket number is FJS-1004.

We will let you know once this issue is resolved.

[2020-06-11 20:52] ProteanHub commented on #2917
Thanks, appreciate all your hard work with formio!

[2020-06-11 21:02] travist commented on #2917
We will have someone fix this as a top priority since it is a bad regression.

[2020-06-11 21:48] fabien-feat commented on #1627
@jhen1422 Hi ! I'm sorry but... issue is still there...
https://jsfiddle.net/fabienfeat/58hq1L9p/11/

[2020-06-11 22:43] wymanjohnnh opened #2918 "Jump to a Wizard Page on initialization"
Is there an easy way when loading a Wizard Form to jump to a specific page.  For example, performing a setPage(5) to navigate to wizard page 5?

I am reloading a wizard form and need to jump to the last page that the user was on during the form initialization.

Thanks
John

[2020-06-12 07:13] rgaidier commented on #2918
Hi,
I would like the same functionality on my projects :+1:

[2020-06-12 08:30] gape16 commented on #1205
Hi !
I need the same thing but your example doesn't work. Widget input is not ignored. How can we do that ?

Thanks

[2020-06-12 10:04] Narsciz opened #2921 "[BUG] Focus on checkbox component"
## Environment
Please provide as many details as you can:

- Hosting type
  - [ ] Form.io
  - [x] Local deployment
    - Version:
- Formio.js version: 4.10.0
- Frontend framework: Angularjs
- Browser: Chrome
- Browser version: Version 83.0.4103.97 (Build officiel) (64 bits)

## Steps to Reproduce
1. Display a form with a checkbox and a textfield
2. suscribe to the focus event of the form, bind it

[2020-06-12 13:36] wag110894 commented on #2918
You will need to get the instance of the Form in order to navigate to the page. There are a few ways to do this.  The easiest way is to save off a global variable after the form has instantiated like so.

Formio.createForm(document.getElementById('formio'), 'https://yourproject.form.io/yourform').then(function(form) {
  // "form" is the webform instance. You can save it to the global context doing

[2020-06-12 14:52] randallknutson commented on #2921
I ran the JS Fiddle you provided and I'm seeing the event get triggered. Can you help explain what is the issue?

<img width="1307" alt="VanillaJS_Form_io_Renderer_-_JSFiddle_-_Code_Playground" src="https://user-images.githubusercontent.com/246735/84515667-63ee8480-ac92-11ea-9a41-a5e365de6db1.png">

[2020-06-12 15:00] Narsciz commented on #2921
Hi randall thanks for your time,

The event is triggered when you focus the textfield, but not when you focus the checkbox.

[2020-06-12 18:00] bandman0226 commented on #1701
Thanks for the info @randallknutson - This also worked for us. I did have another question to ask. It works fine now but when a we scroll to the bottom of the list it seems to "reset" the filter and shows all the records. Any thoughts or suggestions?

[2020-06-13 09:35] oneserve-alh commented on #2851
This issue is resolved in the 4.10.2 release.

[2020-06-13 10:30] jemann75 commented on #2849
This has been fixed in EventEmitter2 6.4.2 (https://github.com/EventEmitter2/EventEmitter2/commit/1e521f908c967c4d9774f803e05ab3272b54a75c)

[2020-06-13 13:13] travist commented on #2917
Fixed in latest version.

[2020-06-13 13:13] #2917 closed

[2020-06-13 23:34] gregbown commented on #2546
@travist This is fixed with 4.10.2.  Thank you!
Panel changes no longer break form in wizard mode. Also, calling schema getter is no longer needed and the infinite loop is also fixed.

[2020-06-13 23:38] gregbown commented on #2389
@travist This is fixed with 4.10.2.  Thank you!
Panel changes no longer break form in wizard mode. Also, calling schema getter is no longer needed and the infinite loop is also fixed.

[2020-06-13 23:38] #2389 closed

[2020-06-14 07:15] pronaykanti19 opened #2929 "Help"
## Environment
Please provide as many details as you can:

- Hosting type
  - [] Form.io
  - [x] Local deployment
    - Version:
- Formio.js version: Current
- Frontend framework: JS
- Browser: Chrome
- Browser version:83.0.4103.97

## Steps to Reproduce
1. Putting AJAX call in Custom Default Value
2.
3.

## Expected behavior
Expecting return after onload of the page. Expecting that I can put any

[2020-06-15 08:02] gape16 commented on #2929
Hi,

You can just put that in your calculated value filed :
let xhr = new XMLHttpRequest();
xhr.open('GET', 'http://jsonplaceholder.typicode.com/posts/1');
xhr.responseType = "json";
xhr.addEventListener("load", function () {
	instance.setValue(xhr.response.title);
});
xhr.send();

[2020-06-15 08:37] pronaykanti19 commented on #2929
Thanks a ton!!

[2020-06-15 12:11] AudreyCb opened #2931 "How to scroll a form back to the top of the page when the "next" button/link is clicked?"
Hi !
We would like to scroll a form back to the top of the page when the "next" button/link is clicked? Is there an option for that ?

Thanks for the reply,

[2020-06-15 14:00] #2929 closed

[2020-06-15 14:09] #2851 closed

[2020-06-15 16:12] Baloche opened #2934 "[BUG] "Panel Navigation Buttons" checkboxes have no effect"
## Environment
Tested on https://formio.github.io/formio.js/app/builder with Google Chrome

## Steps to Reproduce
1. Create a Wizard
2. Open the settings of a page/panel
3. Uncheck the checkboxes under the label "Panel Navigation Buttons"

## Expected behavior
When a checkbox is unchecked, the related button should not appear in the generated form.

## Observed behavior
Unchecking the checkboxes h

[2020-06-15 20:55] travist commented on #2934
I am looking at this and I believe you are right. This must have been left over from the 3.x renderer version and was never changed once we modified the "get currentPage" to return the page instance. Please feel free to create a pull request with your change so that you will get the attribution for this fix and we will be happy to pull it in.

[2020-06-16 02:14] bleungAtGTI opened #2936 "[BUG] Datagrid can't add component inside after changed `type`"
## Environment
Please provide as many details as you can:

- Hosting type
  - [ ] Form.io
  - [x] Local deployment
- Formio.js version: 4.10.0-rc.6
- Frontend framework: none
- Browser: Chrome
- Browser version: 83.0.4103.97 (Offical Build) (64it)

## Steps to Reproduce
1. I am try to create new datagrid, so i copy Datagrid, then rename to MyDatagrid, like beblow

2. **Copy:** src/templates/bootst

[2020-06-16 05:43] ProteanHub opened #2937 "Hidden radio component still shows when conditional is present"
## Environment
Please provide as many details as you can:
A radio component marked as hidden still shows when there is a conditional present. When the conditional is removed, it properly hides the component.

We use an archive process where we simply mark a given component as hidden when we change things around in our forms, but want to maintain a reference to what was there in a previous iteratio

[2020-06-16 10:14] davebaol opened #2940 "[BUG] ComponentSchema.persistent should be of type (boolean | 'client-only')"
## Environment
Please provide as many details as you can:

- Hosting type
  - [ ] Form.io
  - [ ] Local deployment
    - Version:
- Formio.js version: **4.9.27-rc.4**
- Frontend framework:
- Browser:
- Browser version:

## Steps to Reproduce
Setting the property `persistent` to `client-only` is a bit tricky:
[code]
## Expected behavior
It should be as simple as
[code]
## Observed behavior
Currentl

[2020-06-16 13:42] jhen1422 commented on #2940
@davebaol Hi could you please confirm if this issue persists in version 4.10.2?

[2020-06-16 14:13] davebaol commented on #2940
@jhen1422
I'd say yes, the issue is still there in 4.10.2:
https://github.com/formio/formio.js/blob/v4.10.2/types/components/schema.d.ts#L71

[2020-06-16 15:50] Narsciz commented on #2921
I have added the textfield only to show the correct behavior and to highlight that it doesn't work with the checkbox, like i said in the observed behavior, it's the checkbox the problem

[2020-06-16 20:41] randallknutson commented on #2936
You may want to check out how to extend the form builder and renderer by checking out https://github.com/formio/formio.js/wiki/Modules

[2020-06-16 20:41] travist commented on #2937
I believe this is expected since "conditions" on the component take priority over the hidden checkbox. To achieve what you are looking for, just add a custom CSS class to the component, and then in CSS provide "display: none"

[2020-06-16 22:49] nathanieltagg opened #2948 "Calculated values aren't checked for validation [BUG]"
Formio.js (@latest, checked against 4.10.2)

Computed fields apparently are not checked for validity.

Here is a fiddle:
https://jsfiddle.net/nathanieltagg/n37hxypd/10/

The calculated value shows up, but no matter what entries are put in for 'a' and 'b', it never shows an error in the computed field.

[2020-06-17 01:59] bleungAtGTI commented on #2936
But #2173 is using "Right" way to implement, but it still not work

[2020-06-17 06:05] NiteshNagar opened #2949 "[Issue] Can we get form back from JSON Schema in form builder So we can start where we left ??"

[2020-06-17 10:14] raghavendrav6 opened #2951 "Tap on files list not downloading the file in cordova app"
In a form we have a list of files. In browser when we tap on it it's downloading the file.
But in cordova app when we tap on the file name nothing happens.

So, for us to able to download the file do we need to do something? or Is it even supported?

[2020-06-17 12:21] fabien-feat commented on #1627
:up: ?

[2020-06-17 13:13] #2934 closed

[2020-06-17 13:19] cmcortez commented on #2921
Appreciate you bringing this t our attention we have placed this issue on dev ticket **FJS-1010 Github Focus on Checkbox does not fire Console log message**. Once the fix has been resolved and deployed we will update this comment string.

[2020-06-17 14:56] randallknutson commented on #2936
Datagrid has an attach override in the webformbuilder.js file here https://github.com/formio/formio.js/blob/master/src/WebformBuilder.js#L200-L211

This can also be done by adding similar code to the regular attach method but wrap in this.builderMode check.

[2020-06-17 15:25] pixie79 opened #2955 "[BUG] Wizard fails to load form in builder"
## Environment
Please provide as many details as you can:

- Hosting type
  - [X] Local deployment
- Formio.js version: 4.10.2
- Frontend framework: react
- Browser: Chrome / Edge
- Browser version: current

## Steps to Reproduce
1. Create a wizard form and save
2. Reload the wizard in the editor

## Expected behavior
Wizard should display the form.

## Observed behavior
Empty form displayed. If y

[2020-06-17 20:34] randallknutson commented on #2951
We don't have any reason to think this shouldn't work. Is there an error happening within the app or something?

[2020-06-17 20:44] travist commented on #2955
Does this work well in the Next portal @ https://next.form.io?  If so, then this makes me believe that the issue is with the React wrapper.

[2020-06-18 00:46] airarrazaval commented on #2951
This seems to be a misconfiguration on the cordova side.  Make sure to enable the file / media and permissions plugin.  For Android, for example, make sure to have the following in your build script:

[code]

* **cordova-plugin-android-permissions**:
Enables Android permission request

* **cordova-plugin-file**:
Enables the file plugin allowing you to access or creating files (use `--force` to mak

[2020-06-18 02:11] airarrazaval commented on #2931
In your application you could listen to the `nextPage` and `prevPage` events and programatically scroll to top.

[code]

Here is a working example: https://jsfiddle.net/airarrazaval/8rmwnvkq/

[2020-06-18 02:39] airarrazaval commented on #2918
Another option could be to use [localStorageI]() to store the current page of the user and hook into the wizard page events to update its value.  Then you could just set the page when the form is initialized.

You could have something liek this:

[code]

Here is a working example: https://jsfiddle.net/airarrazaval/tq1zje4d/

[2020-06-18 04:33] bleungAtGTI commented on #2936
Cause:
`Component.js` will call attachXXX by your type, e.g: attachDatagrid
If you change/create a `type`, it haven't call original attachXXX

https://github.com/formio/formio.js/blob/master/src/components/_classes/component/Component.js#L1024

Walkaround:
After add a new type, check all `xxxBuilder.js` any `attachXXX` method,
If yes, you should call original `attachXXX`

e.g: `WebformBuilder.js`

[2020-06-18 04:33] #2936 closed

[2020-06-18 06:40] pixie79 commented on #2955
@travist @randallknutson Agree it appears to work ok on the Next.form.io version so it is likely a react wrapper conflit.

For our upgrade all we did was "npm remove react-formio" followed by "npm install react-formio" so only things it pulled in were affected as part of our upgrade test.

If it helps here is a diff of the package-lock

er git:(master) ✗ cat diff
diff --git a/client/package-lock.j

[2020-06-18 13:54] #2918 closed

[2020-06-18 13:54] #2931 closed

[2020-06-18 14:28] Narsciz commented on #2921
Thx, by the way, after further investigations, this bug also occured with radio and selectboxes components

[2020-06-18 14:46] mihaiandreicut opened #2966 "Calculate Value going on an infinte loop when setting a value from API response with fetch"
Hello,
I have the following situation:
on field I have Calculated Value formula:
value = myFunction(instance);

function myFunction (instance){
fetch(url,options)
.then((response) => {
return response.json();
})
.then((responseData) => {
instance.setValue(responseData, {
noUpdateEvent: true
})
})

That cause infinte loop, alternate responseData with [object Promise]

Is there a solution for that ?

[2020-06-18 16:32] nathanieltagg commented on #2948
At first I thought the isDirty flag should be set in checkData() if the calculated value changes.  But that doesn't work. When the independent field is changed, it triggers a change events which runs the calculation and checkData, but then something apparently triggers it to run again, and on the second checkData() pass, the value is now no longer dirty and the message clears.

I tried to put in a

[2020-06-18 20:02] airarrazaval commented on #2966
It is not recommended to have async functions inside custom calculated values as it will be executed multiple times.  Also, you are setting the the value to `undefined` as the function does not return any value so is redundant that declaration.

If you need to set up a calculated value based on an async function (which may change on other component's value), then you should:

* Use an auxiliary co

[2020-06-19 03:07] airarrazaval commented on #2948
I think this is the expected behavior as what you are saying is to trigger a validation error on a calculated value using values of other components.  The correct way to do it is to put the validation on the component that depends of the calculated one.

In your example you have:

* Number Component A
* Number Component B
* Number Component Result (disabled and calculated as A - B)

In this case t

[2020-06-19 03:34] chaseven commented on #1453
Hi guys,
Just happened to face the same issue, any idea when the fix will be included to version 3.x?

[2020-06-19 03:44] airarrazaval commented on #2881
Using the Webform / Wizard instance you can access both the schema components and the components instances.

Example:

[code]

If you are trying to access the form components through a component custom script (default / calculated value, validation, etc) remember the following:

The following variables are available in all scripts.

|Variable | Description |
|-----------|------------------|
| **fo

[2020-06-19 04:15] besmiralia opened #2969 "Builder Question: How do I skip the modal popup for components"
I have created some predefined textfield components (ex. First Name, Last Name, etc). I would like to drag them on the form without needing to hit Save on the modal popup. How can I achieve that? Is there a property I can pass to these components to avoid the modal when dropped on the form?
Thank you

[2020-06-19 14:07] jhen1422 commented on #2969
@besmiralia
On our 'Next' portal, you can pass options to the 'Form Module' settings found in the Custom CSS/JS within your project settings

{
options: {
builder: {
noNewEdit: true
}
}
}

[2020-06-19 14:07] #2969 closed

[2020-06-19 15:05] besmiralia commented on #2969
Thank your @jhen1422for your answer.
Is there any way to make this option only for predefined components and not every component?
Referring to the custom builder example https://formio.github.io/formio.js/app/examples/custombuilder.html, I would like this option to be available for components under the custom group, and keep regular (modal popup) behavior for other components.

[2020-06-19 20:34] randallknutson commented on #2969
I don't believe there is a way to have certain components that don't open a modal. We did have this in older versions where we had one or two components that didn't open modals but those got more complex and we ended up adding the modal back.

[2020-06-20 04:37] QThans opened #2976 "How I can get field‘s value and setting value by js"
now,i can get select by ``` $('select[name="data[com]"]').val(); ```

But,It is not common.

Does it have event options similar to buttons？

[2020-06-21 22:34] besmiralia commented on #2969
Hi @randallknutson
Thank you for your feedback. I played around and I think I was able to achieve what I asked for. I also submitted a PR ( #2977 ) in case you think this is something valuable for other people.

[2020-06-22 06:20] ProteanHub commented on #2937
It appears to ignore other things like the validation checkbox as well, so in our case a CSS class won't help. I do appreciate the recommendation though.

It was my understanding that the hidden checkbox would overrule other items and simply remove it completely from the flow of the form.

[2020-06-22 08:40] motss opened #2980 "[BUG] Signature component has overlapping asterisks when it is rendered as required field in read mode"
## Environment
Please provide as many details as you can:

- Hosting type
  - [ ] Form.io
  - [x] Local deployment
    - Version:
- Formio.js version: 4.10.4
- Frontend framework: react@16.13.1
- Browsers: Chrome 85, FF 79

## Steps to Reproduce
1. Create a Signature component in read-only form
2. Make the Signature component a required field
3. See the rendered component to have distorted UI

##

[2020-06-22 15:04] randallknutson commented on #2937
Hidden does not override all conditional logic, it is just the default state of the component. If a conditional evaluates to show a component, it will show. If you never want a component to show, mark it as hidden and don't add any conditional logic.

[2020-06-22 15:06] travist commented on #2976
You need to use the Formio SDK to get a components value. If you want to do this via global script, then you will need to first get the Form instance. You can find the form instance by referencing the ```Formio.forms``` object like so.

[code]

This just assumes you have one form on the page...  You can then do the following to get the value of a component.

[code]

[2020-06-22 15:10] wag110894 commented on #2980
Hello @motss,

Thank you for reaching out!  We are not able to replicate this issue on our side. Can you provide a JSFiddle of this issue occurring?

[2020-06-22 15:41] airarrazaval commented on #2980
@motss It seems its an issue on your end.  Maybe a css style conflicting with form.io styles.  Mekae sure to import in the following order:

* Framework (bootstrap 3 / bootstrap 4 / semantic)
* Load Formio styles
* Load application styles

Here is an example of three different renderings using bootstrap 4.

https://jsfiddle.net/airarrazaval/2b9hs08f/

Finally, make sure you have no custom css defi

[2020-06-22 17:21] nathanieltagg commented on #2948
That is certainly one way that calculated values should be used.  If so, it should be explicit that validation cannot be applied to calculated values!  That is not evident anywhere, and seems a major limitation.
(In fact, this could be seen as a fairly big complaint in the Form Builder: there are multiple configuration options that are mutually contradictory, e.g. specifying both JSONLogic Validat

[2020-06-22 18:10] wag110894 commented on #2664
This issue has been resolved on the latest version of formio.js 4.10.3.

Thank you.

[2020-06-22 18:10] #2664 closed

[2020-06-22 18:11] wag110894 commented on #2719
Hello @mohlendo, this issue has been resolved on the latest version of formio.js. (4.10.3)

[2020-06-23 06:04] ilistes commented on #1622
I've just experienced this problem, it would be nice to have it fixed/have a solution.

[2020-06-23 07:37] alexmaie commented on #2168
Hello FormIO team,

We also noticed the same issue with <img> tag in the html component.
Did you already manage to advance with this bug?

Thanks
Alex

[2020-06-23 13:41] wag110894 commented on #2168
Hello @alexmaie,

This is item is still in our 4x backlog. We do welcome a Pull request for this item. If you do need this item expedited, then contact support@form.io for pricing. The ticket you can reference is FJS-597.

[2020-06-23 13:52] #2976 closed

[2020-06-23 13:53] travist commented on #2966
Thanks for the help @airarrazaval

[2020-06-23 13:53] #2966 closed

[2020-06-23 13:54] travist commented on #2955
Github does not like it when you paste in a diff into a comment apparently. :)

[2020-06-23 14:16] aminmc commented on #2955
Oh my days 🤣. Spoken to Randall and found a solution so this can be closed.

[2020-06-23 14:17] #2955 closed

[2020-06-23 14:45] phucduong86 opened #2986 "[BUG] reCaptcha does not load on Wizard Form"
## Environment
Please provide as many details as you can:

- Hosting type
  - [x] Form.io
  - [ ] Local deployment
    - Version: Application: 7.0.25, Renderer: 4.10.3
- Formio.js version:  Renderer: 4.10.3(built-in Pro Viewer)
- Frontend framework: n/a
- Browser: Chrome
- Browser version: 81

## Steps to Reproduce
1. Navigate to a standard form with recaptcha:
https://pro.formview.io/#/stvhlgwezd

[2020-06-23 20:53] randallknutson commented on #2949
Yes. The form builder has a "form" property on it where you can pull the form definition. You can also set it to reload the form definition.

[2020-06-24 20:33] sebastianscatularo commented on #2856
Hi @wag110894 do you have an update on this?

[2020-06-24 20:35] wag110894 commented on #2856
@sebastianscatularo,

The work on it this is completed, but has not been tested. We will let you know once testing has been completed.

Thank you for your patience.

[2020-06-24 21:06] gavinorland commented on #2484
Hi @randallknutson. I'm working on the same project as Mark, above. Just having another look at this one now. I've written out the flow mainly just to remind myself and will paste it here:

In the Data setting for a component, if "Clear value when hidden" is selected, then the component is hidden via a conditional, its property and value are _not_ submitted with the payload. However, if the user r

[2020-06-25 14:48] randallknutson commented on #2484
I think I understand your question better now. We don't explicitly support what you are asking for. The ability to store and save the value doesn't take into account whether a component is visible or not (but does if it is conditionally hidden or not). I thought it might be possible to use default values to have values that only show up if a user views a component but I think even that triggers to

[2020-06-25 17:07] gavinorland commented on #2484
Hi @randallknutson. Yes, I'm not sure default values would work for us as we would really want to to be "live" and reflect whatever the user had last entered.

It looks like if we don't want to be submitting values of components which have since been conditionally hidden, we'll have to use "Clear value when hidden" and accept that the user will have to enter any values again when "un-hiding". Than

[2020-06-25 20:33] randallknutson commented on #2484
Sure thing! Good luck!

[2020-06-26 14:06] wag110894 commented on #2986
Thanks for reaching out @phucduong86,

We are able to replicate this issue on our side. Thank you for providing examples. We have created a ticket (FJS-1029) and have added this to our backlog. We welcome a PR or have a process to expedite if you are interested.

Please contact support@form.io if you are interested in expediting.
We will let you know once this issue has been resolved.

Thank you.

[2020-06-27 13:26] learner291 opened #2998 "Wizard Steps are not appearing correctly in embed form"
I have created a form on your portal. It is a wizard form. When I view the form using the Use button on your portal, it displays the wizards steps like a time line, as shown in the figure below.

![image](https://user-images.githubusercontent.com/40409548/85923181-deb5c300-b880-11ea-9047-865c7ac54bdb.png)

Similarly, if I use formview URL to view the form in a new browser window, it still shows th

[2020-06-29 13:54] wag110894 commented on #2998
Hello @learner291, we have made a change to our Wizard layouts to change it to the way you see in the JSfiddle when using Formio.js. So this is not a bug, but a change to the Wizard layout. We have gotten feedback from this change and are moving back to the old Wizard option in 5x of our formio.js.

I hope this helps.

Thank you.

[2020-06-29 13:54] mtpersonalfile opened #2999 "Custom not editable component"
Hi, I'm using formio builder for quite some time and we as a company are now upgrading to the latest formio and I'm now re-creating some custom blocks that were created for use with ngFormBuilder in new formio.js 4 using Contrib library. I like this approach, but this one example of CheckMatrix doesn't explain everything. If anyone can save me some time of research and endless trying and answer:

[2020-06-29 17:28] learner291 commented on #2998
Hi @wag110894 , thank you for your reply.

Is it possible to keep both formats and we can choose which one to use?

[2020-06-29 20:38] randallknutson commented on #2998
That's what is coming in 5.x

[2020-06-29 21:01] learner291 commented on #2998
OK thanks for the confirmation.

[2020-06-29 21:01] #2998 closed

[2020-06-30 04:52] thaisonle commented on #2027
@randallknutson `eachComponent` is expecting `form.components`, passing it just the form throws an error. The same thing happens with the `flattenComponents` method.

[2020-06-30 13:00] QThans opened #3004 "[QUESTION] how to add select components resource"
In the select component,how can i to create resource and setting this option.

[2020-06-30 16:05] wag110894 commented on #3004
The Select component when the Data Source Type is set to Resource uses data from an existing form that adds the values. Here is a quick video on how to accomplish using the Select Resource: https://share.getcloudapp.com/jkuQXnlZ

I hope that this helps.

[2020-06-30 18:29] QThans commented on #3004
Thanks.
And can you teach me how to setting the file-component's upload url?

[2020-06-30 20:20] QThans opened #3005 "how can i to hide options"
like this:table view

How can i hide all components's table view option?

[2020-06-30 20:36] randallknutson commented on #2027
What is the error it is throwing?

[2020-06-30 20:41] QThans commented on #3004
@wag110894
and how can i select resource‘s label and when i save i can save the resource’s value?

[2020-07-01 00:06] thaisonle commented on #2027
`Uncaught (in promise) TypeError: e.forEach is not a function
    at Object.g (formio.full.min.js:16)`

[2020-07-01 08:46] motss commented on #2980
@wag110894 @airarrazaval I've tried to find out why it cannot be reproduced in your example. I managed to reproduce it with `readOnly: true` and it does show what I presented in the screenshot above.

So the real issue was caused by when the form is in read mode.

Updated demo with `readOnly: true`: https://jsfiddle.net/3e8z9ucL/

[2020-07-01 15:01] airarrazaval commented on #2980
I am seeing that the icon is rendered under the `form-control-feedback` element, thus implying that a validation is triggering the render of the icon (which shouldn't happen).  You can use the following CSS hack to remove the asterisk and the refresh button (which shouldn't be there either in read-only mode).

[code]

Also, I noticed another bug.  When you are editing the form (not in read-only) i

[2020-07-02 12:59] s08cz1 opened #3008 "[BUG] DateTime component prevents selection on mobile device (form.io v3)"
## Environment
Please provide as many details as you can:

- Formio.js version: 3.29.17
- Frontend framework: none (pure js)
- Browser: Chrome (Android)
- Browser version: Chrome 83.0.4103.44 (Android 11)

## Steps to Reproduce
1. Create form with DateTime component
2. Open on a mobile device (not mobile view on desktop PC)
3. Select a date

## Expected behavior
Date/time is successfully populated

[2020-07-02 13:12] Andrey-Pavlov commented on #2707
Any ideas about how to clear validation errors in the latest version from code?

[2020-07-02 14:38] jhen1422 commented on #3008
@s08cz1 This issue is resolved in the 4x version of formio.js. Is it possible for you to upgrade to this version?

[2020-07-02 14:55] s08cz1 commented on #3008
Thanks @jhen1422, we are investigating upgrading to v4 but it may not be a quick process, minor version upgrade would be a much easier solution

[2020-07-02 15:01] jhen1422 commented on #3008
@s08cz1 you may try using a 'Textfield' and setting the widget setting to 'Calendar' to see if that works on mobile.

Alternatively, feel free to contact support@form.io if you would like to report this issue and receive info on supporting a fix.

[2020-07-05 17:46] QThans opened #3010 "[HELP]how to validate form and no submit"
Can i only validate form data,and not submit data.
My mean is active verification,not event

[2020-07-05 18:42] PhilCliv opened #3011 "[HELP-WANTED] Proper way to programmatically set fields value"
Hi FormIO team!
I'm using formio.js and the browser "speach recognition" to fill the fields of my forms.
What is the proper way to set dynamically the value of a specific field in my form?
I intensively searched in the doc but could not find the solution.

For now I use jquery to set the value of the HTML element
_$(currentElement).val(value);_

And then set the submission value like this because

[2020-07-06 08:54] sureshece9999 opened #3012 "[BUG] angular formio custom components overridden functions and are not working and inside edit form modal values are not binding with preview area"
Hi @travist  @randallknutson,
## Environment
Please provide as many details as you can:

- Hosting type
  - [x] Form.io

![package](https://user-images.githubusercontent.com/48546522/86574669-cdad3600-bf93-11ea-81ed-2f15b797e0e9.png)

I am trying to create a custom component using angular formio, I had created a custom component name Smart Table and I had added an extra tab called Header in edit m

[2020-07-06 15:03] randallknutson commented on #3011
You can do form.getComponent('componentKey').setValue('myvalue');

[2020-07-06 15:04] randallknutson commented on #3010
You can call form.checkData() to see if it is valid or not.

[2020-07-06 15:19] QThans commented on #3010
[code]
I have use this method to check form.

[2020-07-08 14:53] JRiggenbach opened #3019 "Removing EditJson Component Hover Option"
I'm not having much luck with how to toggle the hover options, specifically the edit json option, for the components added to the form builder.
![hoveroptions](https://user-images.githubusercontent.com/1473610/86933957-23efb580-c109-11ea-82e6-90a5f1e12ad2.png)

There appears to have been the idea of adding an "enableButtons" property to the form options, but I don't see that in the main branch

![

[2020-07-08 15:04] PhilCliv commented on #3011
Working perfect! Thanks

[2020-07-08 15:04] #3011 closed

[2020-07-08 15:04] wag110894 commented on #3019
Hello @JRiggenbach

We are not experiencing any issue with hovering over the options. Are you using our Production portal? If not, what version of formio.js are you running on?

[2020-07-08 15:37] JRiggenbach commented on #3019
@wag110894  My apologies, I'm not experiencing any issue with hovering over the options...I was curious if there was a way to remove any of them?  I've found the rest of the form builder to be highly configurable so I naturally assumed I'd be able to configure these options as well.

[2020-07-08 17:58] sebastianscatularo commented on #2856
Hi @wag110894, do you have an update on this?

[2020-07-08 18:43] wag110894 commented on #2856
@sebastianscatularo we will we working on a new PDF build soon. We will let you know once this issue has been resolved.

Thank you for your patience.

[2020-07-08 20:56] randallknutson commented on #3019
You can remove them by overriding the buildercomponent template at https://github.com/formio/formio.js/blob/master/src/templates/bootstrap/builderComponent/form.ejs

Here is information on how to override templates: https://github.com/formio/formio.js/wiki/Templates-API

[2020-07-08 21:55] przzz27 opened #3020 "[HELP] Is it possible to login as another user?"
## Environment
Please provide as many details as you can:

- Hosting type
  - [x] Form.io
  - [ ] Local deployment
    - Version:
- Formio.js version: 4.10.5
- Frontend framework: Javascript
- Browser: Google Chrome
- Browser version: Version 83.0.4103.116 (Official Build) (64-bit)

Currently i have 2 resources:

1. Managers

2. Employees

In my application each manager can have many Employees, ea

[2020-07-09 01:33] MalkyTheKid commented on #3011
Hi, sorry for opening this again but how exactly do you implement the above?

I have tried both
 form.getComponent('brand').setValue('myvalue');
and
 Formio.getComponent('brand').setValue('myvalue');

but it does not change the value of my input

[2020-07-09 02:12] MalkyTheKid opened #3021 "[HELP-WANTED Dynamically populate value on form after .createform"
Hi,

How does one dynamically set the value of the form's elements once it's been embedded in the html?

I have tried both
form.getComponent('brand').setValue('myvalue');
and
Formio.getComponent('brand').setValue('myvalue');

I have also tried via jQuery:
var value = $('#form input[name=data[brand]]').val("Terrapass")

but it does not change the value of my input..

My implementation is below:

[c

[2020-07-09 09:07] sutauma opened #3024 "[BUG] Value of a date component within a data grid is deleted after removing a row"
## Environment
Please provide as many details as you can:

- Hosting type
  - [x] Form.io
  - [ ] Local deployment
    - Version:
- Formio.js version: latest
- Frontend framework: latest
- Browser: Safari, Firefox
- Browser version: latest

## Steps to Reproduce
1. Create a data grid with several fields (e.g. text field, number field) and a date field
2. Fill out the data grid (2-3 rows)
3. Delete

[2020-07-09 14:56] wag110894 commented on #3024
@sutauma,

Thank you for providing great reproducible steps. We are able to replicate this issue on our side using the browsers you referenced. We have created a ticket (FJS-1056) and have added this to our backlog. We welcome a pull request or have an option to expedite if you are interested.

If you are interested in expediting this issue, please contact support@form.io for more information on h

[2020-07-09 15:47] JRiggenbach commented on #3019
@randallknutson Thanks for pointing me in the right direction. I'll give this a shot.

[2020-07-09 15:47] #3019 closed

[2020-07-09 16:11] przzz27 commented on #3021
You were close, i left you a fiddle [here](https://jsfiddle.net/h39v7tu4/):
https://jsfiddle.net/h39v7tu4/

createForm returns a promise so your code should execute when the promise is complete.
Your code was executing earlier while the form has not been "rendered" yet

[2020-07-09 21:07] travist commented on #3011
```Formio.createForm()``` returns a promise. You must wait for that to resolve and then it hands you the form instance like this.

[code]

[2020-07-10 10:21] anandbhaskaran opened #3026 "[Question] Is it possible customized options popup in the form builder"
## Environment
Please provide as many details as you can:

- Hosting type
  - [x] Form.io
  - [ ] Local deployment
    - Version:
- Formio.js version: Latest
- Frontend framework: Vue
- Browser: Chrome
- Browser version: Latest

## Steps to Reproduce
1. Open the form builder
2. Add any new component
3. A detailed options menu appears

## Requirement
I am building a simplified form builder and I wo

[2020-07-10 13:55] wag110894 commented on #3026
Hello @anandbhaskaran,

Have you been able to take a look at this example of a custom builder using formio.js: https://formio.github.io/formio.js/app/examples/custombuilder.html?

Looking forward to your response.

Thank you.

[2020-07-10 13:56] Gerboa opened #3028 "[QUESTION] Does NoEval = true prevent JsonLogic calculateValue fields?"

[2020-07-10 14:10] anandbhaskaran commented on #3026
Hello @wag110894 , Thanks for the quick reply.

Yes, I looked into this example.

But what I am looking for is a simpler options popup on each component (by setting many default values):

Something like this:
![image](https://user-images.githubusercontent.com/6847984/87163431-a1f9bb00-c2c7-11ea-858a-9032be8c500c.png)

instead of
![image](https://user-images.githubusercontent.com/6847984/87163192-4

[2020-07-10 14:30] randallknutson commented on #3028
I'm not 100% sure on this. The noeval field will prevent all custom javascript in a form from running. However, in some cases, like interpolating, we have a non-javascript workaround to still provide some functionality that is needed using string replacement instead of javascript. calculateValue MAY be one of those that has a limited functionality workaround but I don't think it is. Either way, if

[2020-07-10 14:35] randallknutson commented on #3026
You can accomplish this with the link shared above. The options object has ways to override and turn off fields and tabs to simplify it so that you can achieve what you are looking for. You can also write a module to do this with examples at https://github.com/formio/contrib and https://github.com/formio/module-example

[2020-07-10 15:35] anandbhaskaran commented on #3026
Thank you for the pointer. The first option of yours (where we can override the options object) is elegant for me.

I dig a bit deeper into the code and landed in al the options a component can have -> https://github.com/formio/formio.js/blob/master/src/components/_classes/component/Component.js

Can you please help me (or link to the documentation) to find which option I should override to remove

[2020-07-10 18:24] MalkyTheKid commented on #3021
Lovely, thank you

Will experiment for now and see if the above works with other controls as well (ie: select, date, etc.)

[2020-07-10 23:47] MalkyTheKid commented on #3021
Hi Josue,

Thanks for the great response.
I tried playing around as well with the Layout components, namely the "HTML_Element" and the "Content" components,
but it does not seem to have the same `.setValue()` function.

How do you change the `html` value for the "HTML_Element" component and how do you change the `content` value of the "Content" component  thru the same implementation above?

[2020-07-11 14:40] QThans opened #3032 "[BUG]the radio input is save component's id"
the radio input has save component's id .
and when i run setValue ,it's not work;
the id value is always change,how i can setting value?

[2020-07-11 14:53] QThans commented on #3032
when the Values only one,the data is error

[2020-07-13 11:25] sutauma commented on #2696
[code]

[2020-07-13 14:52] travist commented on #3026
You can also completely define your own editForm like so.

[code]

You can actually run this in the console @ https://portal.form.io to see it working.

[2020-07-13 15:21] wag110894 commented on #3032
@QThans, can you provide a jsfiddle of this issue so that we can test and investigate?

Thank you.

[2020-07-13 15:36] wag110894 commented on #2696
Hello @sutauma,

Thank you for providing the json of this form as well as provide what you thought was the root cause of the issue. We are able to replicate this issue on our side and have added this to our backlog (FJS-1063). We welcome a PR and have a process to expedite if you are interested. Please contact support@form.io if you are interested in more information in expediting this issue.

We

[2020-07-13 19:48] yioMtz opened #3036 "[BUG] Form submits while file upload in progress"
## Environment
Please provide as many details as you can:

- Hosting type
  - [x] Form.io
  - [ ] Local deployment
    - Version:
- Formio.js version:4.10.5
- Frontend framework:Javascript
- Browser:Mozilla Firefox
- Browser version:78.0.2(64-bit)

## Steps to Reproduce
1. Create a form with a file component with storage setup to URL
2. Upload a large file
3. Submit form while file is in the proce

[2020-07-13 19:56] wag110894 commented on #3036
Hello @yioMtz,

Thank you for reaching out!

We are aware of this issue and have this item in our backlog to resolve. We are making the submit button disabled while you are uploading files. For reference, the ticket number is FJS-1054. We welcome a PR or have a process to expedite this issue if you are interested.

Our developers estimate that it will take 4 hours to resolve this item. Please cont

[2020-07-14 05:45] Pathfinder9021 opened #3038 "[Question] What is the "components" section in a column component definition for?"
I've just upgraded formio.js from v3.29.2 to v4.11.0 and noticed that recently created forms don't have "components" property in column component definition, there is only "columns" property. Does anyone know what the “components” is for?

![image](https://user-images.githubusercontent.com/43930265/87389273-1fb31480-c5af-11ea-9514-c639244ddedb.png)

With that section defined, I have an issues with

[2020-07-14 12:08] anandbhaskaran commented on #3026
This is a fantastic answer! Thank you @travist :)

One last question is it possible to reconfigure the UI itself? For example:
1. All the available components appear in a row (instead of column)
2. The preview component in the options popup, appears full-width and options appear below, etc ..

Thanks in advance.

[2020-07-14 14:38] randallknutson commented on #3038
The column component should only have a columns property which contains the columns and components for that component. If the columns component set the components property in the past, this was a bug that would have been fixed. Components should not be on the top level but within the columns property.

[2020-07-14 14:40] randallknutson commented on #3026
I don't know that we have an easy answer to that question. You're going to need to dig into the source code to figure it out. You may be able to reconfigure the components from column to row by overriding the template for the form builder.

Feel free to make some pull requests to make it possible to do the things you are asking if it already isn't possible.

[2020-07-14 15:54] Vedhachala opened #3040 "Setting value asychronously via API does not trigger dependent actions on other fields."
Hello formiojs team,

I am able to set value to a field (say text1) after calling a rest API by using the suggested [instance.updateValue](https://github.com/formio/formio.js/issues/1321#issuecomment-497366140) method.

Now I have configured my text2 field to be hidden (using conditional tab) on text1's value from the API. This does not work when I use the instance.updateValue method.

It is not j

[2020-07-14 16:04] wag110894 commented on #3040
Hello @Vedhachala, can you please provide a JSFiddle of this issue occurring so that we can investigate further?

Thank you.

[2020-07-14 17:01] Pathfinder9021 commented on #3038
I see. Thank you for the answer

[2020-07-14 17:01] #3038 closed

[2020-07-14 18:23] QThans opened #3041 "[BUG] The select is not load value when it is in datagrid"
i create a datagrid,and create a select in this.
When i have setting this select,the lazyLoad is true,it is load from resource.

When I click datagrid‘s add-another,select  in the added row has no loaded value.

[2020-07-14 19:25] wag110894 commented on #3041
@QThans,
Thank you for reaching out! We are unable to replicate this using version 4.11.0-rc.4 of the formio.js renderer. What version are you running?

Can you also provide a JSFiddle or a form embed for this issue?

Thank you.

[2020-07-14 20:23] MalkyTheKid opened #3043 "[HELP WANTED] changing parameters for Layout components on runtime"
Hi,

I got a great answer here (https://github.com/formio/formio.js/issues/3021) as to how I can change my component's values on runtime. I tried it on layout components, namely the "HTML_Element" and the "Content" components,
but it does not seem to have the same .setValue() function.

How do you change the html value for the "HTML_Element" component and how do you change the content value of the

[2020-07-14 20:52] randallknutson commented on #3043
HTML and Content both don't rerender by default for performance reasons. You can either manually call redraw() on them to force them to redraw or add the "Refresh on change" checkbox option to have it listen for changes and redraw.

[2020-07-14 21:01] MalkyTheKid commented on #3043
Hi Randall,

Thanks for the response.

I did as you suggested and checked "Redraw on change" property of my "Content" component
However, I still can't seem to change the html content at runtime...

How do I properly implement this?
Please see below code:
[code]

[2020-07-14 21:22] gavinorland opened #3044 "[BUG] Unable to focus select menu search input using keyboard"
## Environment

- Formio.js version: 4.11.0
- Browser: Chrome

## Steps to Reproduce
1. Please see [this fiddle](https://jsfiddle.net/nirvanagold/9njd45ra/) using Formio
2. And [this one](https://jsfiddle.net/nirvanagold/xLmjuha5/) using only Choices (same version)

## Expected behaviour

It should be possible to enter text into the search input of a select menu at all times without needing to cli

[2020-07-14 21:44] wag110894 commented on #3044
Hello @gavinorland,

Thank you for reaching out and providing JSFiddle of the 2 versions of the select component. However, we are not experiencing any issues with the select menu JSFiddle.

Here is a recording of testing both:
https://share.getcloudapp.com/jkuQBbvx

We incorporate choices.js in our select component. We also have an option to use an  HTML5 widget as well.
Here are our examples of o

[2020-07-14 22:06] gavinorland commented on #3044
Thanks for getting back to me so quickly @wag110894. I've looked at your video but I'm not sure we're looking for the same thing here. Did you see the instructions in the fiddles, too? I'm saying that although we can operate the menu with arrows, we can't put the focus into the search input on the Formio one without using the mouse. We can on the Choices one. (It's interesting to see that the same

[2020-07-15 04:51] gks66 opened #3045 "[BUG] editgrid: row data replaced when click edit after delete row"
Formio.js version: 4.11.1 -> editgrid

sample from web: https://formio.github.io/formio.js/app/examples/editgrid.html

## Steps to Reproduce
1. Add a new record
2. Delete second record
3. Click edit on last record after delete (last record data will replace first record)

## Expected behavior
- First record shouldn't get replaced by last record.

## Observed behavior
- suspect function is editRow,

[2020-07-15 06:30] QThans commented on #3041
https://jsfiddle.net/thans/e3z7oLpn

@wag110894

I have using version 4.11.0 replicate this.
Is my api error?
But,If i click the select,It will be loading and setting value.You test it.Only when i  add row,the value will be display.

[2020-07-15 06:43] QThans commented on #3032
I have not using formio's submiit or  like
[code]
I have submiting data with html's element form.Because i need to use other function.
Can you give me somthing good idea for this data formating?

[2020-07-15 07:48] gavinorland commented on #3044
@travist It looks like you have worked on this specific area of the Select component code, but I'm not entirely clear on where/what is causing this.

[2020-07-15 12:08] NiteshNagar opened #3047 "FORMIO: Hide a field using logic is not working"
I have create a logic to change the Hidden property from hidden true to false but it is not working....

[2020-07-15 14:37] wag110894 commented on #3047
Hello @NiteshNagar
We are aware of this item and is currently in our backlog. We welcome a pull request or have a process to expedite this issue if you are interested. If you are interested in expediting, please contact support@form.io. The reference number is FJS-873.

We will let you know once this issue has been resolved.

[2020-07-15 15:08] randallknutson commented on #3043
HTML and Content components also don't have values on a submission. They are representational only meaning that they display text to the user but don't store a value in the submission. You can set their value to {{data.somefield}} and it will render based on the value of another field.

[2020-07-15 15:10] randallknutson commented on #3032
The value in the submission of the radio should be key of the option selected. We don't ever set the id anywhere in the submission object so I'm not sure what is going on.

[2020-07-15 15:15] MalkyTheKid commented on #3043
Thanks Randall, can you give me a gist or a simple script on how to implement that based on the implementation above?

[2020-07-15 15:18] MalkyTheKid commented on #3021
Closing this and opened another issue https://github.com/formio/formio.js/issues/3043

[2020-07-15 15:18] #3021 closed

[2020-07-15 15:33] MalkyTheKid commented on #3043
Or any guide in the wiki, or documents illustrating this simple use case, or a reference ticket at all. Please.

[2020-07-15 15:39] wag110894 commented on #3045
@gks66,

Thank you for providing a jsfiddle as well as screenshots or the issue taking place. We are able to replicate and have created a ticket for this issue (FJS-1072).

We welcome a pull request and have a process to expedite. If you are interested in expediting, please contact support@form.io.

[2020-07-15 15:55] wag110894 commented on #3044
@gavinorland
Apologies for the confusion. We are able to replicate this issue and have added it to our backlog. For reference, the ticket number is FJS-1073. We welcome a pull request and also have a process to expedite if you are interested.

Please contact support@form.io for more information on expediting.

We will let you know once this issue has been resolved.

Thank you.

[2020-07-15 16:35] SalTor opened #3049 "[BUG] Components not triggering the destroy lifecycle method as described in Templates-API"
## Environment
Please provide as many details as you can:

- Hosting type
  - [x] Form.io
  - [x] Local deployment
    - Version:
         - `formiojs@4.10.5`
         - `@formio/premium@1.14.0`
- Formio.js version: 4.10.5
- Frontend framework: none
- Browser: Google Chrome
- Browser version: 83.0.4103.116 (Official Build) (64-bit)

## Steps to Reproduce
1. Load form which is set to render as a wi

[2020-07-15 16:52] gavinorland commented on #3044
Many thanks @wag110894 - I'll get in touch if I can see what the issue is at this end or if we wish to expedite.

[2020-07-15 17:05] wag110894 commented on #3044
Sounds great!

[2020-07-15 20:44] randallknutson commented on #3043
Create a form and add a field with the property name of "firstname". Add a content component and put "{{data.firstname}}" in the content somewhere. Check the "Refresh on change" checkbox on the content component. Render the form and enter a value in the firstname field. The content component should automatically update.

[2020-07-15 20:46] travist commented on #3049
Destroy should only be called when the component is being completely removed from the renderer (i.e. destroyed). Wizards actually do not destroy components between pages so that conditionals as well as calculated values can span across pages. I think the method you are wanting is called ```detach``` which does get called between wizard pages.

[2020-07-15 20:46] #3049 closed

[2020-07-15 20:54] SalTor commented on #3049
I noticed that `detach` gets called multiple times (along with `attach`) when my custom component above receives a file. Is this the expected behavior?

[2020-07-16 08:00] ghost opened #3050 "trim leading and trailing spaces in text input box"
I am new to Form.io and am trying to use form.io.js library for our implementation.

I have a input text box that accepts text.  I want to remove leading and/or trailing spaces if added and have the captured data with trimmed values.  I do not want to show validation message to user but simply trim the input value.

Can you please suggest, how this can be achieved.  Thank you in advance.

regards,

[2020-07-16 12:09] llaurentiu opened #3054 "[BUG] Form with EditGrid component fails to render in IE11"
- Formio.js version: v4.11.1-rc.3
- Browser: IE
- Browser version: 11

## Steps to Reproduce
1. Create & render a form that has an edit grid component using IE11

## Expected behavior
Form renders
## Observed behavior
Creation of the form throws a `DOMException `- Syntax error

The reason for it is the EditGrid component, line 188: https://github.com/formio/formio.js/blob/v4.11.1-rc.3/src/componen

[2020-07-16 14:52] randallknutson commented on #3049
Detach gets called every time a redraw occurs. When adding a file, a redraw occurs so that the new file can be displayed on the page. If you set up the attach/detach functions correctly, it shouldn't matter how many times they get called.

[2020-07-16 15:22] Vedhachala commented on #1716
I see your pull request's commit id (2259dba) in  [v4.10.4 commits](https://github.com/formio/formio.js/compare/v4.10.4...master)
But I am still not able to translate two instances of forms.
Here is the jsfiddle of it happening:  https://jsfiddle.net/Vedhachala/xav9qLfc/32/

[2020-07-16 15:31] crivera305 opened #3055 "[BUG] RenderForm Conditional Formatting Not Rendering Components Properly"
## Environment
Please provide as many details as you can:

- Hosting type
  - [] Form.io
  - [x] Local deployment
    - Version:
- Formio.js version: 4.9.11 - Latest
- Frontend framework: Bootstrap
- Browser: Chrome / Safari / Firefox
- Browser version: All

## Steps to Reproduce

1. Goto Link to: https://jsfiddle.net/0mkns9av/
2. Notice Behavior Issues Component loads after some time empty; its m

[2020-07-16 16:12] Vedhachala commented on #3040
@wag110894
I figured that I am still facing the loop issue with instance.updateValue also.
It seemed that the updateValue method was not causing the loop because the value in the field's UI was not reset when I change the value.
But the submission data variable is still not changing,  it is always the value that was set from the API and I am unable to change it.
The custom default value get called

[2020-07-16 21:02] randallknutson commented on #3040
If you are manually assigning values you may need to call triggerChange() to cause the events system to fire.

[2020-07-17 01:46] dispbd opened #3056 "[BUG] select component - Incorrect display and duplication of the list."
## Environment
Please provide as many details as you can:

- Hosting type: Local deployment
- Formio.js version: Last
- Frontend framework: Bootstrap
- Browser: All
- Browser version: Last

## Steps to Reproduce
1. Goto Link to: https://codepen.io/WebPoet/pen/qBbJMrX
2. Select the "group" component. Then select the component "send_userID". The values will be duplicated in the drop-down list (BUG).

[2020-07-17 14:58] travist commented on #3050
You can achieve this with a change event.

[code]

[2020-07-17 16:30] arjuna71 commented on #3050
Thank you for the update.
Is there a possibility of this functionality achieved as part of the component captured data JSON.

I observed custom validation OR field logic options in formio builder for text field.  Can this be achieved?

We are rendering the formio JSON fields on a web page.  The user inputs in the field will be stored in JSON as string.
Before storing, we want to trim data that has

[2020-07-18 19:13] dispbd commented on #3056
Can anyone suggest anything?

[2020-07-19 08:37] Vedhachala commented on #1716
@shawnbot thanks for the analysis.
I was expecting my second instance of the form also to be translated using the translations provided in the options of the second form.
Right now all the forms are getting translated using the first registered translation.

[2020-07-20 12:20] gavinorland opened #3063 "Select menus not accessible as expected"
Hi. We use Formio extensively and one issue we're seeing is that select menus are not functioning as expected with a screen reader:

**Expected  behaviour:**

Each time the user uses the keyboard to change the focused option, the screen reader should read out all the options again. If the user actually selects an option, the screen reader should read that one out.

**Actual behaviour:**

When the

[2020-07-20 14:34] travist commented on #3050
Yes, I bet you can do this with the Calculated Value portion of the component. Something like this I bet would work.

[code]

[2020-07-20 14:43] arjuna71 commented on #3050
It is trimming the text, but NOT allowing spaces between the text.  The requirement is to trim only leading and trailing spaces of given word or sentence.

Thank you for option mentioned, is there any other way to get the result.

[2020-07-20 15:43] wag110894 commented on #3041
@QThans Thank you for providing the JSfiddle of this issue but we are not able to reproduce this outside of your JSFiddle. We do have support packages, which will allow you to connect with our developers to see what is going on in your form. For more information, please contact support@form.io.

Thank you.

[2020-07-20 15:46] wag110894 commented on #3055
@crivera305,

Thank you for reaching out! I am seeing the issue in the Jsfiddle that you provided, but am unable to copy the JSON that you provided above? Can you repost it so that we can investigate the form and try and locate the issue?

Thank you.

[2020-07-21 02:30] crivera305 commented on #3055
try this i made a pastebin with just the form json - https://pastebin.com/8dkX2zqh

[2020-07-21 14:15] wag110894 commented on #3055
@crivera305,
Thanks for providing the form JSON. We have tested this on our side and are unable to replicate using the form JSON. Taking a look back at the JSfiddle, I am now unable to replicate any of the issues. Did you make any changes to the form?

[2020-07-21 14:59] crivera305 commented on #3055
I have not made any changes. If there were anything that could have changed it could be a version update to formio.

The jsfiddle uses: https://unpkg.com/formiojs@latest/dist/formio.full.min.js which currently redirects to: https://unpkg.com/formiojs@4.11.0/dist/formio.full.min.js

After clearing cache the issue is still apparent in all browsers ( Firefox, Chrome & Safari ) - the panel loads with

[2020-07-21 15:04] wag110894 commented on #3056
Hello @dispbd,

Thanks for reaching out!

We are unable to replicate this issue outside of the codepen you provided. Here is a link to our Sandbox, where you can load in the example of this working on our side: http://formio.github.io/formio.js/app/sandbox

You will add: 5f16fbbdc6051022f749042e to the load form section and you will see the form appear. You will see our formio.js builder and then

[2020-07-21 21:54] blochealth commented on #2431
@jhen1422  refactor is now complete and this still does not work.

[2020-07-21 22:18] finitor opened #3066 "File component with S3 storage not signing requests for thumbnail image"
## Environment
- Hosting type
  - [x] Form.io
  - [ ] Local deployment
- Formio.js version: 4.10.5
- Frontend framework: JS
- Browser: Chrome 83.0.4103.116 MacOS

## Steps to Reproduce
1. Set up S3 integration using form.io recommended bucket policies
2. Create a form containing a File component
3. Enable "Display as image" component setting
4. Publish form, drag a jpeg file to the File component

[2020-07-22 11:51] Vedhachala commented on #1716
@shawnbot Thanks, this works great in the jsfiddle.
However, in our application, we are using angular wrapper and the two form instances are a form builder and a form renderer.
Something similar to the demo [here](https://formio.github.io/formio.js/app/builder) where you have live builder and renderer.

I did the following and it does not work:
1. As there is no (ready) output event in the [angula

[2020-07-22 15:02] travist commented on #1716
You should be able to pass along this option using the ```renderOptions``` parameter within the Angular component like so.

[code]

[2020-07-22 19:41] johnstrickler opened #3069 "[BUG] Builder hides the Default Value field for hidden components"
## Environment
Please provide as many details as you can:

- Formio.js version: 4.11.1-rc.7
- Frontend framework: React
- Browser: Chrome
- Browser version:   84.0.4147.89 (Official Build) (64-bit)

## Steps to Reproduce
1. Create a hidden component
2. Click the "Data" tab
3. The "Default Value" field will be **missing**.

## Expected behavior
The default value field should be displayed in the Dat

[2020-07-23 07:10] #2613 closed

[2020-07-23 14:28] travist commented on #3066
This is most likely an S3 permissions configuration. Will you confirm what permission configurations that you have configured on this S3 bucket? It needs to allow "Public" access if you do not want to use "signed" urls.

[2020-07-23 15:20] finitor commented on #3066
We definitely want to use signed urls for both the initial upload of the file and the download that File component seems to want to do to render the thumbnail. The issue seems to be that File component is not signing the download request. Public access is not an option because these files contain HIPAA PII. Our current bucket policy is as follows (some identifiers disguised):

{
    "Version": "20

[2020-07-23 15:30] finitor commented on #3066
Also note that this whole flow works with these same S3 settings in the form builder's 'Use' tab, so there must be some difference in the storage provider implementation that it is using vs the one in formio.js 4.10.5 which our own clients are using.

[2020-07-23 15:41] elibus commented on #3054
@TanyaGashtold @heather-formio

[2020-07-23 21:13] finitor commented on #3066
Closing this issue, resolved by adding the user's role (Anonymous in our case) to "Read Own Submissions" in form builder "Access" tab.

<img width="413" alt="Screen Shot 2020-07-23 at 5 04 48 PM" src="https://user-images.githubusercontent.com/148494/88339135-864ed580-cd07-11ea-9baa-381b9b212550.png">

[2020-07-23 21:13] #3066 closed

[2020-07-24 09:40] bleungAtGTI opened #3075 "[BUG] Datagrid min length > Added wrong row, and no error message"
## Environment
Please provide as many details as you can:

- Hosting type
  - [] Form.io
  - [ ] Local deployment
    - Version:
  - [x] https://formio.github.io/formio.js/app/builder
- Browser: Microsoft Edge
- Browser version: Version 84.0.522.40 (Offical build) (64bit)

## Steps to Reproduce
1. Create a data grid
2. Valdiation > Minimum Length = 3
3. Click "Add Another Row" [Observed behavior 1

[2020-07-24 15:06] wag110894 commented on #3054
Hello @llaurentiu and @elibus
Thank you for your patience while we were working on resolving some issues with IE11 that were blocking us from testing this issue. We are unable to replicate this issue on our side using our latest version of formio.js (4.11.1-rc.8). We started from building the component on IE11 and are seeing it render in IE11.

If you are still experiencing this issue on your end,

[2020-07-24 15:10] wag110894 commented on #3055
Hello @crivera305,

We took a further look at your code and see that the Radio for Behavior Issues Radio does not have the default value of Yes. This could be what is causing the problem. Can you add this setting and see if it is working?

[2020-07-24 15:16] wag110894 commented on #3075
This is because the Data Grid component is empty. Try adding a component into the Datagrid and you will see that it shows 3 rows of that component.

[2020-07-24 16:57] crivera305 commented on #3055
I believe you misunderstood what the issue is. Let me try to explain from top to bottom my experience and what the issue is.

The issue is not the default form ( that works as expected ).

In our case we do not want the form defaulted to YES - we want the user to click YES on the form to show the corresponding panel & questions. ( no reason to have everything showing  makes the form too long )

Th

[2020-07-24 17:23] llaurentiu commented on #3054
Hi @wag110894 ,

It seems it was fixed 3 days ago in 4.11.1-rc8,  by adding a polyfill. With this checkin: https://github.com/formio/formio.js/commit/1edf3fc68be208ba357bf0f33da2e6ba5e533433

I am closing the issue.

Thanks for help.

[2020-07-24 17:23] #3054 closed

[2020-07-24 21:14] wag110894 commented on #3055
Hello @crivera305, Thank you for providing the additional information. We are able to replicate this and have created a ticket and have added it to our backlog. We welcome a pull request or have a process to expedite this issue if you are interested.

If you are interested in expediting this issue, please contact support@form.io and reference this ticket number for this issue (FJS-1111).

We will

[2020-07-24 21:25] besmiralia opened #3079 "Prevent input change if some external criteria is not met"
Hi
Is there any event or method to use to prevent input elements change if some external criteria is not met?

Ex. I am checking if the current record is being locked by someone else, and if so, I would like to show a message and prevent the user from changing the form submission data.

[2020-07-26 16:29] #2686 closed

[2020-07-27 02:58] bleungAtGTI commented on #3075
OK, thanks a lot 👍

[2020-07-27 02:58] #3075 closed

[2020-07-27 04:54] Vedhachala commented on #1716
@travist @shawnbot Thanks for the help.
The [first method](https://github.com/formio/formio.js/issues/1716#issuecomment-661627635) worked for me.

[2020-07-27 14:40] randallknutson commented on #3079
Our system does not have a locking mechanism as that isn't considered best practice in single page applications, instead you can manage the submissions yourself and check the last modified date of the submission on the server and the submission being submitted and ensure that the last save was the one the user was working off of. It is also possible to track the changes made by a user and re-apply

[2020-07-28 14:58] jftsaraiva opened #3084 "File Component - Edit uploadOnly"
How can I edit `uploadOnly` on file component? I can't find it in component's configuration in the form builder.

Shouldn't it be in  [src/components/file/editForm/File.edit.file.js](https://github.com/formio/formio.js/blob/master/src/components/file/editForm/File.edit.file.js) ?

[2020-07-28 15:20] wag110894 commented on #2431
@blochealth,

It seems that is was working at one point but is not currently.
We have created a ticket for this issue and have added this to our backlog. We welcome a pull request or have a process to expedite this issue. For Reference, the ticket number is FJS-1098.

[2020-07-28 20:57] randallknutson commented on #3084
It should be in there but it appears we haven't added a config for it yet. You can set it with the JSON edit for the field or if you want to submit a Pull Request to add that setting.

[2020-07-29 01:39] pkorosi opened #3087 "WYSISYG editor and font colors"
Is it possible to enable font and background colors for the WYSIWYG content editors? I have not been able to get those working.

[2020-07-29 11:37] hisuwh opened #3090 "[BUG]"
## Environment
Please provide as many details as you can:

- Hosting type
  - [ ] Form.io
  - [x] Local deployment
    - Version: vue-formio@4.0.4
- Formio.js version: 4.11.0
- Frontend framework: vue
- Browser: Chrome
- Browser version: 84.0.4147.89

## Steps to Reproduce
1. Build form with datetime on formio.github.io
2. Render form with vue-formio

[code]

[code]

## Expected behavior

Should d

[2020-07-29 13:06] hisuwh commented on #3090
I've got the same problem with selects as well:
![image](https://user-images.githubusercontent.com/4470351/88803636-acabbf80-d1a4-11ea-840b-557499678b02.png)

[2020-07-29 14:07] wag110894 commented on #3090
Hello @hisuwh,

It looks like you have not pulled in the CSS files into your application. Once you pull this in, then everything will look correct.

I hope that this helps.

[2020-07-29 18:29] blochealth opened #3095 "[BUG] Refactored Address Field loses value in Edit Grid"
## Environment
Please provide as many details as you can:

- Hosting type
  - [x] Form.io
  - [x] Local deployment
    - Version:
- Formio.js version: latest
- Frontend framework: Formio platform
- Browser: any
- Browser version: any

## Steps to Reproduce
1.  Use form below, enter address data in Edit Grid.
2. Save form.
3. Re-open form data in Edit mode

## Expected behavior
You should be able t

[2020-07-29 18:44] blochealth commented on #3095
Nevermind, issue mysteriously resolved itself? Will re-open if I can narrow it down to a further set of conditions.

[2020-07-29 18:50] #3095 closed

[2020-07-30 04:15] annunn opened #3097 "[BUG] Input fields lose focus on key press when using columns + auto_adjust and field logic"
We turned auto_adjust off, so this is not affecting us anymore.

- Hosting type
  - [] Form.io
  - [x] Local deployment
    - Version:
- Formio.js version: 4.11.0
- Frontend framework: Angular
- Browser: Chrome
- Browser version:

## Steps to Reproduce
1. Focus input control
2. Press key

## Expected behavior
Not lose focus

## Observed behavior
Focus lost on every key press

## Example
https://js

[2020-07-30 08:59] hisuwh commented on #3090
🤦‍♂️ thanks.
This should probably mentioned in the docs for vue-formio though

[2020-07-30 10:46] arjuna71 commented on #3050
Seems there is no solution of trimming only leading and trailing spaces and NOT in between the words using javascript in formio component.  Expecting a solution atleast in the next update of Formio.js.

If there is any, let me know else, the ticket can be closed.

[2020-07-30 12:53] srinisubramanian commented on #1536
@wag110894 Any updates on this?

[2020-07-30 14:50] wag110894 commented on #1536
You can set various options to add additional HTML so that it won’t be stripped.

Here is the code for the sanitization https://github.com/formio/formio.js/blob/master/src/utils/utils.js#L1078-L1107

[2020-07-31 11:48] hisuwh commented on #1991
Did anyone work out a fix for this?  I'm missing radio icon:
![image](https://user-images.githubusercontent.com/4470351/89032186-07bbee80-d32c-11ea-8297-dd24602a61af.png)

And the move and remove icons:
![image](https://user-images.githubusercontent.com/4470351/89032211-13a7b080-d32c-11ea-9618-e89d6f6cb120.png)

[2020-07-31 14:09] MohitNaroliya commented on #2075
@jhen1422 @aiwebb - Any update on this issue?

[2020-07-31 14:35] wag110894 commented on #1991
This item is still on our backlog. As mentioned above, we welcome a pull request or have a process to expedite this issue if you are interested. Please send an email to support@form.io if you would like the price to expedite this for you.

Thanks.

[2020-07-31 14:38] wag110894 commented on #2075
This item is still on our backlog. We welcome a pull request and have a process to expedite if you are interested. Please contact support@form.io if you are interested in expediting.

Thank you.

[2020-07-31 14:44] wag110894 commented on #3050
@arjuna71 Appologies on the delay. We have created a ticket (FJS-1127) and have added this to our backlog. We welcome a PR and have a process to expedite if you are interested. If you are interested in expediting, please contact support@form.io.

Thank you.

[2020-07-31 18:27] cmcortez commented on #1627
We are not able to replicate the issue. As part of a support package, we can schedule a call with a developer to investigate further investigate the issue. If you are interested please write directly to support@form.io and reference the GitHub issue link.

[2020-07-31 18:36] cmcortez commented on #3005
Within each component, you will have to uncheck the Table View Setting on the Display Tab of the component.

[2020-07-31 19:09] cmcortez commented on #3097
This configuration is causing a redraw on each keypress. As part of a support package, we would be happy to take a deeper look. If you are interested in going down this path please contact support@form.io

[2020-07-31 20:47] wag110894 commented on #3004
@QThans Apologies on the delay, could you clarify what you mean by your question?

[2020-08-02 01:13] rickcaudill commented on #3005
I can help with this a bit... I was not able to find a way to do this for all components without doing each component (I might create a patch for this)...

Basically you want something like the following (javascript object here but you should get the gist):
  formBuilderOptions = {
    "noDefaultSubmitButton": true,
    "builder": {
      "premium": false,
      "basic": {
        "components": {

[2020-08-02 12:31] hisuwh commented on #1991
Looking at this a bit more closely seems some of these icons have been made pro in v5 or just removed/renamed completely.  I've just fixed some in my own project but redirecting the classes to the available icons using the scss mixins and variables:

[code]

Not sure how would be best to fix this within formio itself as I guess you'll still need to handle people using v4.  Hopefully the above appr

[2020-08-03 05:35] pkorosi commented on #3087
never mind - fixed

[2020-08-03 05:35] #3087 closed

[2020-08-03 07:26] JeStud opened #3105 "[BUG] Translated Error Message not displaying at the top of the page"
## Environment
- Hosting type: found it locally, also on Form.io
- Formio.js version: 4.11
- Browser: I tested with Chrome and Firefox

## Steps to Reproduce
1. Create a form with a translation and a required field
2. Create a translation for the required field (for example 'required': '{{field}} est requis.', )
3. Submit without filling in the required field

## Expected behavior
The translation

[2020-08-03 08:30] Sefriol commented on #2849
Just to update this: `unsafe-eval` is no longer required when setting `Evaluator.noeval = true`, but this prevents the usage of custom validation functions. Unfortunately, we require these custom functions.

@travist @randallknutson Any estimate when the next major release is going live?

[2020-08-03 14:14] praveenmadishetty opened #3107 "[BUG]"
## Environment
Please provide as many details as you can:

I Have created a custom input text component using formiojs,
and it is not detecting default value entered from settings to display in custom input text, Please help me regarding this.

Thanks in Advance
Praveen Madishetty

[2020-08-03 14:19] kzhang-dsg opened #3108 "[BUG] Dynamic Select Filtering - Refresh On does not work"
## Environment
- Hosting type
  - [] Form.io
  - [x] Local deployment
    - Version:
- Formio.js version: 4.10.x and above
- Frontend framework: none
- Browser: Chrome
- Browser version: 84.0.4147.105

## Steps to Reproduce
1. Follow the documentation to setup Dynamic Select Filtering: https://help.form.io/tutorials/walkthroughs/dynamic-select-filtering/
2. Set the "Refresh On" to "Make" for the M

[2020-08-03 14:22] kzhang-dsg commented on #3105
I am facing the same issue. Downgrading to version 4.10.2 fixed the issue. Looks like it is a new bug introduced in the new 4.11 version.

[2020-08-03 14:30] randallknutson commented on #2849
The 5.x branch is under development now but has a lot more features to be completed first. We are looking at around the end of the year for a release of it.

[2020-08-03 15:11] nathanaelbice commented on #1773
Is there any further information on how to do this, or if this will be supported at some point? This is functionality that I am interested in as well, and I'm a bit surprised that the Tabs component was not implemented as a wrapper around a tab component.

[2020-08-03 15:14] wag110894 commented on #3108
@kzhang-dsg have you seen this example: https://formio.github.io/formio.js/app/examples/external.html?

[2020-08-03 16:04] kzhang-dsg commented on #3108
@wag110894

Yes I have.

Forgot to mention. the bug exists only with HTML5 widget. The Choose.js widget appears to work fine.

We need to use HTML5 widget for native mobile selection UI. The Choose.JS does not work very well out of the box on Mobile.

[2020-08-03 20:57] wag110894 commented on #1773
@nathanaelbice, You can use our wizards to accomplish this.  Here is an example of how you can accomplish this with our Wizard: https://formio.github.io/formio.js/app/examples/conditionalwizard.html

[2020-08-03 21:03] nathanaelbice commented on #1773
@wag110894 Thanks for the suggestion, but I am actually trying to leverage this functionality within the Edit Component modal, with minimally intrusive modifications. Because of this, I believe I will need to use Tabs. I believe that I can modify the tabs component to support this, but I wanted to check for an already supported method first.

[2020-08-03 21:15] #3069 closed

[2020-08-04 11:46] #3084 closed

[2020-08-04 13:45] SalTor opened #3111 "[BUG] Wizard Breadcrumb visible on first step even though set to "Hidden"; `this.currentPanel` is `null`"
## Environment
Please provide as many details as you can:

- Hosting type
  - [x] Form.io
  - [ ] Local deployment
    - Version: 4.11.0-rc.4
- Formio.js version: 4.10.5
- Frontend framework: None
- Browser: Chrome
- Browser version: 84.0.4147.105 (Official Build) (64-bit)

## Steps to Reproduce
1. Create a form
2. Set panel settings to display breadcrumb as hidden
3. Load form

## Expected behavi

[2020-08-04 14:38] wag110894 commented on #3111
@SalTor Can you provide a JSFiddle of the issue taking place?

[2020-08-04 14:50] SalTor commented on #3111
@wag110894 Here's a JSFiddle demonstrating the issue taking place: https://jsfiddle.net/saltorcivia/31724re6/3/

[2020-08-04 15:33] SalTor commented on #3111
I updated the comment to accurately reflect the problem: the breadcrumb bar is visible on first load of the first page but subsequent visits to the page properly hide it.

[2020-08-04 16:39] hisuwh commented on #844
Any idea how this can be done with vue-formio?

[2020-08-04 18:54] multinerd commented on #844
I have no experience using vue but the concept should be the same.

Maybe this can help?
https://stackoverflow.com/questions/44745890/calling-a-javascript-function-inside-a-vue-component-file

[2020-08-04 19:13] wag110894 commented on #3105
@JeStud @kzhang-dsg Thank you both for reaching out! We are able to replicate this issue on our side. We have created a ticket. For reference, the ticket number is FJS-1128. We have assigned this item as a high priority. We will let you know once this issue has been resolved.

Thank you!

[2020-08-04 19:48] wag110894 commented on #3111
@SalTor Thank you for reaching out! We are able to replicate this issue on our side. We have created a ticket and have added this to our backlog. For reference, the ticket number for this issue is FJS-1131. We welcome a Pull Request or have a process to expedite if you are interested.

Please let me know if you are interested in expediting and I can provide you information on the process.

We will

[2020-08-04 19:51] wag110894 commented on #3108
Could you provide what Mobile Device you are using so we can test against the same device? can you also provide a video of the issue taking place?

[2020-08-04 21:03] kzhang-dsg commented on #3108
For local development, we just use Chrome. Mobile is just for future support.

It is easy to reproduce. I just copied the example: https://formio.github.io/formio.js/app/examples/external.html and changed the widget to HTML5, you will see the issue: https://jsfiddle.net/uove48mc/

BTW,  the Choose.js widget also does not fully work. In summary:

1. For Choose.js, The model options refresh on chang

[2020-08-05 08:59] JeStud commented on #3105
Thanks @kzhang-dsg, using 4.10.2 works as a solution
Thanks @wag110894, appreciate it

[2020-08-05 14:38] randallknutson commented on #1773
We do have this on our backlog as a feature we would like to add. If you would like to either contribute the functionality in a PR or sponsor the development of it, we'd love to get it done.

[2020-08-05 14:40] randallknutson commented on #844
First you need to get access to the formio instance at https://github.com/formio/vue-formio/blob/master/src/components/Form.ts#L108. I can't remember exactly how to do this but i think it is similar to how React uses the ref option. Then you can call formio.checkValidity().

[2020-08-05 16:59] hisuwh commented on #844
Thanks @randallknutson yes its very similar.  I couldn't find that method and ended up going a different way.  But for other peoples benefit:
[code]

[2020-08-06 13:42] dev-z opened #3118 "[BUG] Webhook actions not getting triggered after the first submit"
## Environment
Please provide as many details as you can:

- Hosting type
  - [x] Form.io
  - [ ] Local deployment
    - Version:
- Formio.js version: Version v1.95.1, Renderer v4.11.1 as noted on pro.formview.io
- Frontend framework: Standalone forms
- Browser: Chrome
- Browser version: Version 84.0.4147.105 (Official Build) (64-bit)

## Steps to Reproduce
1. Create new form. Add Webhook action.

[2020-08-06 15:05] randallknutson commented on #3118
Can you check on the webhook action the "Method" option near the bottom? It may be that you only have "Create" selected and need to add "Update" as well.

[2020-08-07 12:40] strets123 opened #3125 "[BUG] Date tiome fields are not allowing use of the data variable in the custom disable dates function."
## Environment
Please provide as many details as you can:

- Hosting type
  - [x] Form.io
  - [ ] Local deployment
    - Version:
- Formio.js version: latest (from trial on website)
- Frontend framework: Angular or Native ES6
- Browser: Chrome
- Browser version: 84.0.4147.105

## Steps to Reproduce
1. Create a form with a Select field (for customer) and Object storage using a URL like my one here:

[2020-08-07 13:39] agrawalankush commented on #2027
I was facing the same issue, tried the recommended solution above in npm package directly and it's working as it should also no need to change in "hasrows" code. @randallknutson Can you please update library with this fix?

[2020-08-07 15:36] wag110894 commented on #2027
@agrawalankush Thanks for reaching out! We will update the library with this fix and let you know once we do. For reference, the ticket number for this change is FJS-1140.

Thank you for using Form.io!

[2020-08-07 20:56] wag110894 commented on #3108
@kzhang-dsg Thank you for your patience. We have created a ticket and have added this issue to our backlog. We welcome a PR or have a process to expedite if you are interested.  For reference, the ticket number is FJS-1141.

We will let you know once this issue has been resolved.

Please let us know if you are interested in expediting this issue for you.

Have a great day!

[2020-08-07 21:04] wag110894 commented on #3125
Hello @strets123 the code is located here: https://github.com/formio/formio.js/blob/master/src/widgets/CalendarWidget.js#L207

I hope that this helps.
Thank you for taking a look.

Please let us know if you have any further questions.

Have a great weekend.

[2020-08-10 03:02] cmcortez commented on #3020
Please review the following documentation: https://help.form.io/userguide/roles-and-permissions/#roles-and-permissions

[2020-08-10 11:49] hisuwh opened #3128 "[BUG] Default EditGrid layout does not display components in columns"
## Environment
Please provide as many details as you can:

- Hosting type
  - [x] Form.io
  - [x] Local deployment
    - Version: vue-formio@4.0.4
- Formio.js version: 4.11.0
- Frontend framework: Vue
- Browser: Chrome
- Browser version: 84.0.4147.105

## Steps to Reproduce
1. Add an edit grid to a form
2. Add columns to the edit grid
3. Add components to the columns

## Expected behavior

Default

[2020-08-10 11:55] hisuwh commented on #3128
I can fix the headers by using the `utils.eachComponent` function:

[code]

![image](https://user-images.githubusercontent.com/4470351/89779971-6b9e9e00-db08-11ea-9eaf-19f61855db2b.png)

But I cannot work out how to fix the RowTemplate.  The help text says:

But then the example is:
[code]

which references `instance` which the help text doesn't identify as an available variable so I'm unsure what

[2020-08-10 15:48] wag110894 commented on #3128
@hisuwh,
Thank you for reaching out! We are aware of this issue and are currently working on getting this into a build. We will let you know once this issue has been resolved.

For reference, the ticket number is FJS-1130.

[2020-08-10 23:34] shawnbot opened #3130 "[BUG] Datetime components do not respect the form language"
## Environment
Please provide as many details as you can:

- Formio.js version: 4.10.4

## Steps to Reproduce
1. Create a form with a Date/time component
2. Set a form's language to a value other than `en`, e.g. in its render options: `{lang: 'es'}`
3. Import the Flatpickr localizations for your language, e.g. from [unpkg.com](https://unpkg.com/flatpickr@4.6.6/dist/l10n/es.js)
4. Focus the date/ti

[2020-08-11 07:42] dev-z commented on #3118
@randallknutson I have Create, Update and Delete selected. This was due to huge size of the payload as I was using base64 images.
`The body of the request is too large. Requests must be smaller than 100k`
It is working as expected when the payload size is less.

[2020-08-11 07:42] #3118 closed

[2020-08-11 12:53] #2546 closed

[2020-08-11 13:01] bleungAtGTI opened #3132 "[BUG] Can't resize table column / row / components on "Merge component schema""
## Environment
- Hosting type
  - [ ] Form.io
  - [ ] Local deployment
    - Version:
  - [x] https://formio.github.io/formio.js/app/builder
- Browser: Google Chrome
- Browser version: Version 84.0.4147.105 (Official Build) (64-bit)

## Why?
I want to make a component can add row & column programmatically by form value
Maybe "survey" can help me do that?

## Steps to Reproduce
1.  using this schem

[2020-08-11 13:29] homashevchenko opened #3133 "[BUG] Select component visualization bug"
## Environment
Please provide as many details as you can:

- Hosting type
- [x] Local deployment
    - Version:
- Formio.js version: formiojs@4.11.1
- Frontend framework:
- Browser: Chrome
- Browser version: 84.0.4147.105

## Steps to Reproduce
1. Create form with select component
2. Add data in select component

## Expected behavior
Normal height form
## Observed behavior
Select component increas

[2020-08-11 14:51] besmiralia opened #3134 "Question: Builder preview different than form renderer, is it possible"
I am providing an example scenario but it applies to other ones. I have an html component (ex. a div tag) where I want to render some data. I am providing its content to **{{data.someVariable}}**.

Now when I open the form everything renders correctly. My issue is that I can't tell what the content is while I am previewing the form in the form builder. I see blank value because there is no data.
I

[2020-08-11 15:29] wag110894 commented on #3133
Hello @homashevchenko Thank you for reaching out! We are able to replicate this item and have added this to our backlog. For reference, the ticket number is FJS-1146. We welcome a pull request or have a process to expedite if you are interested. Please let me know if you are interested in expediting this fix and I can get that process started.

We will let you know once this issue has been resolve

[2020-08-11 19:49] besmiralia commented on #3134
I think I figured it out, Recaptcha has a similar scenario so I figured how to do it

[code]

[2020-08-11 19:49] #3134 closed

[2020-08-12 09:01] sriram275 commented on #1278
Hi,

I am still able to see this issue with formiojs version **3.29.9**

Not working with below:
[code]

And working code:
[code]

Only difference is **conditional tag** not present in the working code.

I was checking in Changelog to see this issue fixed. I could see 3.22.6 version changes but after that no version till  3.29.16 has captured in changelog doc.

Is this an issue 3.29.x?
It is fixed

[2020-08-12 10:28] sriram275 opened #3135 "TextArea and TextField Default Values not available when Conditional Logic in place - Still issue exists"
Hi,

I am still able to see this issue with formiojs version **3.29.9**

Not working with below:
[code]

And working code:
[code]

Only difference is **conditional tag** not present in the working code.

I was checking in Changelog to see this issue fixed. I could see 3.22.6 version changes but after that no version till  3.29.16 has captured in changelog doc.

Is this an issue 3.29.x?

_Originall

[2020-08-12 13:21] dev-z opened #3137 "[BUG] Use Camera option should be shown only when "Enable web camera" option is checked."
## Environment
Please provide as many details as you can:

- Hosting type
  - [x] Form.io
  - [ ] Local deployment
    - Version:
- Formio.js version: Version v1.95.1, Renderer v4.11.1 as noted on pro.formview.io
- Frontend framework: Standalone Forms, using pro.formview.io
- Browser: Chrome
- Browser version: Version 84.0.4147.105 (Official Build) (64-bit)

## Steps to Reproduce
1. Create a File

[2020-08-12 15:02] wag110894 commented on #3132
@bleungAtGTI Can you provide a jsfiddle of the issue taking place as well as a video? This will help us replicate the issue.

[2020-08-12 15:07] wag110894 commented on #3135
Hello @sriram275, have you tried using our 4x core renderer and see if the issue is resolved there? Our 4x core renderer provides a lot of great functionality as well as new components.

Looking forward to your feedback.

Thank you.

[2020-08-12 15:11] wag110894 commented on #3137
Hello @dev-z,

Thank you for reaching out! We are aware of this issue and it is currently in our Backlog. We welcome a PR and also have a process to expedite this issue if you are interested.

Please let us know if you are interested in expediting it. For reference, the ticket number is FJS-28.

In the meantime, you can check both the Display as Camera as well as the Enable Web camera and it is wo

[2020-08-13 02:28] bleungAtGTI opened #3140 "[BUG] Select html5 can't have a value "<""
## Environment
Please provide as many details as you can:

- Hosting type
  - [x] https://formio.github.io/formio.js/app/builder
- Formio.js version:
- Frontend framework:
- Browser:
- Browser version:

## Steps to Reproduce
1. Drag and Drop `Select` Component
Widget Type = html5
Data Source Type = Values
3.  Type Data Source Values > Label  ">"

## Expected behavior
1. Type Data Source Values > V

[2020-08-13 02:58] bleungAtGTI commented on #3132
@wag110894
1. Updated screenshot
2. Finally, i created a custom component like `Survey` to walkaround

[2020-08-13 07:01] dev-z commented on #3137
Hi @wag110894

The Camera does not work properly on iOS devices. On Android, I don't get the option to switch to rear camera.
I will try to go through the code and raise a PR.

[2020-08-13 14:05] StephenOTT opened #3145 "[BUG] Behaviour for disabled text area is different between .js, Angular, and React versions"
## Environment
Please provide as many details as you can:

- Hosting type
  - [x] Form.io
  - [x] Local deployment
    - Version: latest
- Formio.js version: latest
- Frontend framework: js, react, angular
- Browser: chrome
- Browser version: latest

When you have a disabled text area in Angular, the render is a disabled text area.  But when you have a disabled text area in formio.js it renders as

[2020-08-13 14:22] wag110894 commented on #3137
@dev-z
Using your iOS device you will need to click on the browse option and then choose 'Take Camera'. Need someone to test Android.

As for the Andriod, we are seeing this issue as well. We do welcome a Pull Request in order to fix this issue.

Thank you for taking a look at it.

Please let me know if you have any questions.

[2020-08-13 14:32] randallknutson commented on #3145
This probably has to do with the different ways to disable a form and how they are handled by the different frontend libraries. Ideally they would all be the same but may have subtle differences. For example, if you set the form to disabled it will render each component in a disabled state. However, some renderers with actually switch the renderMode to "html" instead of "form" which causes an html

[2020-08-13 14:33] randallknutson commented on #3140
This is probably by design. The value is what is stored in the database and it is restricted to numbers and letters. Would it be possible to use "gt" or something like that instead of the < character?

[2020-08-13 14:34] StephenOTT commented on #3145
Angualr loads the text area as a disabled textarea.  But it is formio.js and React that render it as a single line div (line breaks are lost).

[2020-08-14 14:51] phucduong86 commented on #1895
@wag110894
This issue has not been resolved on our v4 portal: **Application: 7.0.8, Renderer: 4.9.27-rc.4.**
Can you please let us know which version the fix for this this issue was addressed?
Thank you

[2020-08-14 19:34] wag110894 commented on #1895
@phucduong86 I am seeing that this is back on our latest version as well. We have created a ticket (FJS-1161) and have added this to our backlog.
As you are aware, we do have a process to expedite and you are welcome to create a Pull Request if you are interested.

We will let you know once this has been resolved.

[2020-08-16 09:32] bleungAtGTI commented on #3140
using `&gt;` `&lt;` can display and using in calculating value normally

@randallknutson Any concerns?

![](https://github.com/bleungAtGTI/misc/blob/master/formio_issue_3140_1.png?raw=true)

![](https://github.com/bleungAtGTI/misc/blob/master/formio_issue_3140_2.png?raw=true)

[2020-08-17 18:16] #3130 closed

[2020-08-18 14:59] muster-mark commented on #2039
Still seeing this issue in 4.11 - is this still going to be fixed?

[2020-08-18 16:18] blackbaud-RickSchnitzler commented on #1703
We're using formiojs 4.11.1 in our Angular 9 app. We want breadcrumbs but not clickable, so we don't want to hide them. In fact we want to override the settings in the pages setting since our clients can manage their form using form builder. Even when they were set to hidden, they still showed up until going to the next page. We also hide the buttons and provide our own previous, next, submit and

[2020-08-18 20:43] travist commented on #3140
Seems reasonable.

[2020-08-18 20:44] #3140 closed

[2020-08-19 10:44] j-perl opened #3154 "There is no way to remove eventHandler added through onAny()"
I'm using react-formio and it happens that I have to remove the eventHandler added by means of onAny(). However, looking at the source code of Element.js, I haven't found any (EventEmitter does have an offAny(), I believe).

A bit of context : whenever I pass a new function onSubmit down to the Form component, I've noticed that the event handler is using a stale version of the props. I had to impl

[2020-08-19 14:19] sutauma commented on #3024
Are there any news on this topic? KR Martin

[2020-08-19 14:35] wag110894 commented on #3024
@sutauma Thanks for reaching out. This item is still currently on our backlog. We do welcome a pull request or have a process to expedite as I mentioned above. We will let you know once this issue has been resolved.

Have a great day.

[2020-08-19 15:13] wag110894 commented on #3132
Hello @bleungAtGTI. Thank you for reaching out! We are able to replicate this issue on our side. We have added this issue to our backlog. We welcome a pull request or we have a process to expedite this issue if you are interested. Please let me know if you are interested in pursuing the expediting and we can get this process going. The ticket number for this issue is FJS-1166.

[2020-08-19 15:16] wag110894 commented on #3145
Hello @StephenOTT. Thank you for reaching out!

We have created a ticket for us to investigate why the disabled textareas are showing differently using Javascript, Angular, and React.  This item has been added to our backlog. We welcome a pull request or have a process to expedite as well. The ticket number is FJS-1167. Please let me know if you are interested in expediting and we can get the proc

[2020-08-19 19:32] wag110894 commented on #2118
@AndreyOsipkov

We wanted to let you know that this issue is resolved. You can use our latest version 4.11.2.

Thank you for using Form.io!

[2020-08-19 19:32] #2118 closed

[2020-08-19 19:35] wag110894 commented on #2077
@AndreyOsipkov

Thank you for your patience while we worked on getting this issue resolved. This issue has been resolved. You can see the fix on the latest version of formio.js (4.11.2).

Thank you.

[2020-08-19 19:35] #2077 closed

[2020-08-19 20:29] wag110894 commented on #1703
@blackbaud-RickSchnitzler you are able to uncheck the "Allow click on Breadcrumb" checkbox on each of the panel(s)/Wizard page(s).

I hope that this helps.

[2020-08-19 21:18] wag110894 commented on #2024
This issue has been resolved. You can use the latest version of our formio.js 4.11.2.

Have a great day.

[2020-08-19 21:58] learner291 opened #3159 "Dynamic Values for Survey Component"
I have a requirement to generate questions and responses from a list of questions in a lookup table. I thought that Survey component would fulfill that requirement, however I am unable to achieve what I want with the survey component. There are two issues:

1) Using the form builder, I am unable to provide a link to web API for loading questions, as it is asking me to add questions manually. I tho

[2020-08-20 04:45] bleungAtGTI opened #3160 "[BUG] hide / show not work in modalEdit correctly"
## Environment
- Hosting type
  - [x] https://formio.github.io/formio.js/app/builder

## Steps to Reproduce
1.  drag and drop a checkbox
2.  drag and drop a textfield with:
  - Modal Edit: true
  - conditional.show: true
  - conditional.when: checkbox
  - conditional.eq: true
3. change the checkbox value

## Expected behavior
It will hide / show the textfield (label + modal button)

## Observed be

[2020-08-20 09:31] Jerry1990258 opened #3162 "clearOnRefresh doesnot work inside Data grid"
I have two dropdowns
- Type
- Sub Type
(both populated using 'URL')
The Sub Type should populate based on the Type.
It works when both fields are outside data grid.
For it to work,  I have enabled Clear Value on Refresh Options and given 'Type' field in Refresh Options On.

But if I have the same two fields outside  Data Grid and follow the above steps - the previously selected subtype is populati

[2020-08-20 14:55] wag110894 commented on #3162
@Jerry1990258 Can you provide a form embed or a JSfiddle so that we can test on our side?

[2020-08-20 15:00] wag110894 commented on #3160
Hi @bleungAtGTI,
Thanks for reaching out.

Based on the video that you provided, the text field is not showing when the checkbox is false. The modal still opens  but the hidden component is not.

[2020-08-20 15:44] wag110894 commented on #1820
Hello @pardeep224,

This issue has been resolved. You can use the latest version of formio.js to test 4.11.2.

[2020-08-20 15:44] #1820 closed

[2020-08-20 15:44] wag110894 commented on #1994
Hello @pardeep224,

This issue has been resolved. You can use the latest version of formio.js to test 4.11.2.

[2020-08-20 15:44] #1994 closed

[2020-08-20 16:46] #1639 closed

[2020-08-20 16:51] wag110894 commented on #2105
@cymen Thanks for your patience. This issue has been resolved. You can use our latest formio.js version 4.11.1.

[2020-08-20 16:51] #2105 closed

[2020-08-20 17:57] blackbaud-RickSchnitzler commented on #1703
Thanks. That is what I discovered.

We incorporate the form builder, for our users to make adjustments to their form, and hide that Allow click on Breadcrumb checkbox because we don't want the users to click on it and to mimic the way it working in ng-formio-builder.

Because it's hidden and because it was never on our previous application, the breadcrumbClickable property is not saved in the form

[2020-08-20 19:34] blackbaud-RickSchnitzler commented on #1703
Just a follow up. When our default form, which has 3 pages, has `"breadcrumbClickable": false, ` for those three pages, adding new pages with the option hidden, works without having to set the property to false when saving. So one less task to do.

But I've come across another problem which my search of issues didn't find. When I add a new page, in the previous version, newPages property updated.

[2020-08-20 20:06] masudchowdhuryca opened #3166 "how to intregrate from io with database"
Hi I am trying to use form io do you have any example with javascript  with c# or java

with any relational database

1. generate from json schema from builder and to save into database  and again load the json schema  into the builder to do some changes

2. create a new from from the json schema saved into the database . Save user submission data into database again  and load back user submission

[2020-08-21 07:32] AnthonyPhan opened #3167 "Populate Select Component Data from Async Request"
Hi All,

I would like to populate the items available in a select component (drop down menu) with values that are returned form an async JavaScript function. How can I go about doing this?

I have tried using "Custom Data Source Type" and writing an async java script to set the "values" property but this does not work.

![image](https://user-images.githubusercontent.com/12785492/90864496-5ad11080-

[2020-08-22 06:40] kokkoon opened #3174 "[QUESTION] url data source for select form component, anyway to manipulate the json for it to work with select component?"
## Environment
Please provide as many details as you can:

- Hosting type
  - [x] Form.io
  - [ ] Local deployment
    - Version:
- Formio.js version:any
- Frontend framework: reactjs
- Browser:any
- Browser version:any

I am trying to see how to get a list of currency from any currency api available out there, they all returns json similar to below:

GET https://api.exchangeratesapi.io/latest HTT

[2020-08-23 21:47] kzhang-dsg commented on #3162
This is the same issue as https://github.com/formio/formio.js/issues/3108

Demo: https://formio.github.io/formio.js/app/examples/external.html

The Clear Value on Refresh does not work on "Model" if you change the "Make".

[2020-08-23 21:48] kzhang-dsg commented on #3159
Have you seen this example: https://formio.github.io/formio.js/app/examples/external.html

[2020-08-24 14:57] randallknutson commented on #3174
The one requirement of the API response is that it needs to be an array. In this example it is actually an object with key/value pairs which our component doesn't know how to interpret. There are a few ways to work around this. First, we could add the ability in the component to read a response object key/value pairs but this would take some work. You could also do the fetch outside of the form an

[2020-08-24 14:58] randallknutson commented on #3167
There is a "setItems" function that works similarly. https://github.com/formio/formio.js/blob/1f864ffa3a0880aae0a4d5ff40eb351450e47baf/src/components/select/Select.js#L289

[2020-08-24 15:03] randallknutson commented on #3159
1. The survey component does not yet have the ability to load in questions from a URL. This is something we would be interested in adding.

2. Currently the survey component has the same questions and values for all items in the table. Again, if this makes sense we would be interested in adding some additional functionality around this.

[2020-08-24 15:05] randallknutson commented on #3154
I'm not entirely following the issue here. Is there a change we can make to either formio.js or react-formio to fix this problem?

[2020-08-24 15:45] svenvandescheur opened #3178 "[BUG] Adding custom templates"
Trying to add a new custom component template according to https://github.com/formio/formio.js/wiki/Templates-API results in "Unknown template" error.

## Environment
- Hosting type
  - [ ] Form.io
  - [x] Local deployment
    - Version: 4.11.2
- Formio.js version: 4.11.2
- Frontend framework: Bootstrap
- Browser: Chrome
- Browser version: 84

## Steps to Reproduce
1. Create a custom template simi

[2020-08-24 20:46] randallknutson commented on #3178
This is usually a result of the formio.js library being included twice in the project. For example, if you are using a module, be sure to add an externals section like this: https://github.com/formio/contrib/blob/master/webpack.config.js#L14-L16

[2020-08-24 23:57] learner291 commented on #3159
Yes, I have. It has edit button for editing which is not required in my case. The first column should be a label, but it doesn't provide any label component. I would require something like survey with dynamic answers for each question or batch edit grid with labels (asking question) in the first column and select component as a second column where user can simply select a value (answer).

[2020-08-24 23:59] learner291 commented on #3159
I believe these both changes will really enhance the survey component, and provide flexibility. Do you think, you will be building these functionalities in the near future?

[2020-08-25 08:57] svenvandescheur commented on #3178
@randallknutson thanks for your reply. Just to rule out that I imported the module twice I copied the CDN example to jsfiddle and recreated the problem there:

https://jsfiddle.net/f8yLz4cq/1/

I get the exact same behaviour "Unknown template: dummy"

[2020-08-25 09:28] learner291 commented on #622
This was working but since the upgrade, the button is no longer hiding. I wonder if there is a different property now for hiding cancel button? Is that correct?

[2020-08-25 09:39] learner291 opened #3181 "CK Editor - Hiding Image and Media from the toolbar"
I would like to hide image and media buttons from the toolbar. Do I need to remove them as plugins by adding the following line?

`removePlugins: [ 'Image', 'Media' ]`

If yes, where would I add this line of code as I don't see any option on the component configuration dialog. There is an Editor's setting but that only accepts true or false.

The second query is, how can I use inline CK editor? Is

[2020-08-25 13:57] wag110894 commented on #2027
@agrawalankush,

We have gotten feedback from our developer that was looking into this issue. Here is the information that they provided us with:

utils' eachComponent method is used for iterating through JSON schemes of components which has a specific format. So, in the Columns' JSON, each row must always be an object with the 'components' field.
But in the Columns instance, each column is just a

[2020-08-25 14:08] wag110894 commented on #622
@learner291 can you provide a jsfiddle or a form embed of the button no longer hiding. Also, what version of formio.js are you running?

[2020-08-25 15:00] travist commented on #3181
All we provide is the ability to configure CK Editor. The actual support and what configurations to provide to make it behave in a certain way is a little bit out of scope from support in this library. You may try opening a ticket within the CK Editor channels.

[2020-08-25 15:00] #3181 closed

[2020-08-25 15:07] bobslee opened #3187 "(Question) Roadmap newer versions e.g. v5 ?"
Hi folks,
Is there a webpage/overview with a roadmap for upcoming versions e.g. v5 ?

[2020-08-25 18:15] besmiralia commented on #2263
@aminmc do you mind sharing the solution?

[2020-08-25 19:59] randallknutson commented on #3187
There currently is no public roadmap for 5.x. Here are a few of our planned features though:

- New Rules Engine (Validations, Warnings, Conditions, Variables, etc) - Completed
- Convert to typescript compiler - Completed
- Use a WASM based javascript interpreter instead of eval for sandboxed code
- Improved Translation interface and UI when building forms
- Reduce the build size
- Other cleanups

[2020-08-25 20:03] randallknutson commented on #3159
We don't currently have a plan to. Typically we can add features for customers in one of two ways. First, customers can sponsor new features to move them up the priority list and second, they can contribute a pull request with the new feature.

Another thing to look at might be the Logic tab on the survey component. In the logic action, there is a "merge component schema" which can be used to modi

[2020-08-25 20:05] randallknutson commented on #3178
I think you are right. We don't frequently use the addTemplate method since we are usually adding multiple at the same time so the addTemplate doesn't appear to be correct. Could you submit a pull request to change it to current?

[2020-08-26 14:25] manjunathreddyr opened #3191 "[BUG] unable to see sketchpad component"
## Environment
Please provide as many details as you can:

- Hosting type
  - [x] Form.io
  - [ ] Local deployment
    - Version:
- Formio.js version:
- Frontend framework:
- Browser:
- Browser version:

## Steps to Reproduce
1. go to form builder
2. open  premium components
3. check for sketch pad

## Expected behavior
sketchpad should be available
## Observed behavior
no sketchpad is availabe bu

[2020-08-27 00:09] AnthonyPhan commented on #3167
Thanks @rahatarmanahmed

It does not seem to be working for me. Do you mind confirming if I am using the function correctly?

[code]

I did notice from the select.js that the "fromSearch" parameter is not used.

[2020-08-27 04:49] SumitRAgrawal opened #3192 "Vertical Wizard pages"
Is it possible to render wizard  pages vertically instead horizontal pages ? If there are too many pages, vertical tabs seems a better alternative.

[2020-08-27 09:03] svenvandescheur commented on #3178
I've added to pull request, I was unable to get the library to install locally (tried `npm run build`, then `npm install /path/to/lib`, which usually works, but I ran into issues) but I did manage to get the tests running and added a test to confirm the behaviour.

[2020-08-27 09:09] learner291 commented on #3192
Yes, you can display wizard step names horizontally, you need to set this up in the templates.

[code]

The fiddle is below.

https://jsfiddle.net/yLbr7hwa/1/

[2020-08-27 13:46] AmeeBhadania opened #3196 "Allow override of calculate value for date/time component does not work as expected"
## Environment
Please provide as many details as you can:

- Hosting type
  - [x] Form.io

- Formio.js version: v4.12.0-rc.9

## Steps to Reproduce
1.  Drag and drop a number component and a date/time component.
2.  In the date/time component's calculate value set
     `value = moment().add(data.number, 'days');`
3. Set allow calculate value override option to true for date/time component
4. Go to

[2020-08-27 14:02] SumitRAgrawal commented on #3192
Thanks! @learner291  Will try this

[2020-08-27 14:27] travist commented on #3159
You can "simulate" a survey component to give you more flexibility by using a Table component. The first thing you will need to do is to simulate the data structure. This can be done using a Container with the name of the survey. Then every component within that Container will be contained at that namespace, like so..

[code]

Next, you will drag a Table component inside the container, and then bu

[2020-08-27 14:50] randallknutson commented on #3167
This is tricky to debug without getting the error message in the browser but I would bet that it is being caused by the async function. Async may not be supported in your browser yet and you will need to use a promise instead.

[2020-08-28 01:56] thanhvietnguyen255 commented on #898
Hi @anveshsdd, have you solved the issue yet?

Could you give examples on how to export a form/form submission to PDF file?
Or convert to HTML so from that HTML I can export to PDF file.

[2020-08-28 03:49] thanhvietnguyen255 commented on #468
Hi @cabrerabywaters-zz,
First of all, I want to say, that you guys made great work with this package 👍

When I export to Html, the column doesn't work.
As my design, it is 2 columns but when exported to Html, it is in each row.
Also, I think you should set max-width: 100% instead of 250px for signature.

![image](https://user-images.githubusercontent.com/58280615/91519143-fe6a7580-e91b-11ea-9507-f

[2020-08-28 07:21] AnthonyPhan commented on #3167
Thanks @randallknutson ,
I can confirm this is now working after refactoring my code to user .then instead of async awaits.

![image](https://user-images.githubusercontent.com/12785492/91533262-2e2c7400-e942-11ea-84f7-4f95132d5228.png)

[2020-08-28 13:51] StephenOTT opened #3201 "Ability to access Default Value from Create Form in Custom Default Value JS?"
So from the examples, i created something like:

[code]

If is possible to inject a default submission object (for field pre-population) before the "customDefaultValue" JS executes?  The use case is the ability to inject some values into submission, and then let the form modify those values.

When i do the above, the customDefaultValue executes and the "value" argument is `""`

[2020-08-28 13:55] StephenOTT commented on #3201
ya it seems the validations of customDefaultValue run before the .then().

It also appears the validations are executed twice?

[2020-08-28 13:57] wag110894 commented on #3167
@AnthonyPhan Great news!

Please let us know if you have any further questions.

Have a great day!

[2020-08-28 13:57] #3167 closed

[2020-08-28 13:59] wag110894 commented on #468
@thanhvietnguyen255, can you provide a form embed so that we can test on our side?

[2020-08-28 14:31] randallknutson commented on #3201
This is correct. We do not know if a submission is going to be assigned when the form is created. The createForm function creates the form, sets the defaults and checks the validations. Then the submission is set which sets the values and re-checks the validations.

[2020-08-28 14:33] StephenOTT commented on #3201
Is it possible to know which validation check in the lifecycle is occurring within a customDefautValue check?

[2020-08-28 14:34] thanhvietnguyen255 commented on #468
@wag110894, this is a zip file that contains my code, components/submission data, and HTML result.
https://www.dropbox.com/s/33klhqg4u31y4zd/code%20and%20data.zip?dl=0

Thanks.

[2020-08-28 14:38] llaurentiu opened #3203 "formiojs file does not load in IE (unexpected character)."
Formiojs version: 4.12.rc10

I opened a pull request here: https://github.com/formio/formio.js/pull/3202

[2020-08-28 15:05] StephenOTT commented on #3201
Or is it possible to inject additional variables into the customDefaultValue execution? (through browser side config? with the default lib)

[2020-08-28 16:50] wag110894 commented on #3191
@manjunathreddyr

The Sketchpad component is only available as part of the enterprise package which is why you do not see it on the formio.js builder and will see it on the

[2020-08-28 20:24] wag110894 commented on #1703
@blackbaud-RickSchnitzler

Can you provide a video of the issue that you are seeing? I am not seeing when adding a new page to a 3-page wizard that it already sets "breadcrumbClickable" to false.

[2020-08-28 20:45] travist commented on #3201
You can always implement the "component" hook to set the customDefaultValue.

[code]

[2020-08-28 21:30] StephenOTT commented on #3201
Use case is more to be able to write some default value js based on existing data in the scope.

Is there somewhere I could dumb variables in a object that would be easily accessible within the Custom Default Value Js ?

[2020-08-29 12:14] manjunathreddyr commented on #3191
@wag110894

Thanks @wag110894 ,is there any other example or way where custom component can be created similar to this.

[2020-08-31 04:09] thanhvietnguyen255 commented on #468
Hi @wag110894, I have taken a look at your code. I think it should be based on all properties of components to generate HTML instead of just based on the labels and values. That is why the component "Content Component" doesn't exist in HTML.

Why do you set col-sm-3 and col-sm-9?

[2020-08-31 13:56] wag110894 commented on #3191
@manjunathreddyr As this is part of our enterprise package, we cannot provide an example of a custom component like this. We recommend using our enterprise package and using the sketchpad component.

[2020-08-31 14:53] randallknutson commented on #3201
Config is a good place for this. It can be added at form.config and when using our server you can configure the Public Configuration and enable it to be set on forms. Once set up it is available in default values as the config variable. This will map to whatever is set in form.config, either by our server or manually.

[2020-08-31 15:11] StephenOTT commented on #3201
@randallknutson  thanks will try that out!

[2020-08-31 15:11] #3201 closed

[2020-08-31 16:05] travist commented on #3196
I don't believe this is an issue. The issue is that the Calculation is always changing (because the date time value is also always changing), so it is caught in a calculation loop. Does this work if you move the moment() calculation to the Custom Default Value instead?

[2020-08-31 16:07] randallknutson commented on #3196
The issue comes from the fact that every time the datetime is calculated the time has changes (new time!) thus it always looks like it changed. You can try adding setTime() to midnight or something like that so every millisecond the time doesn't change on the calculated value.

[2020-08-31 21:14] SalTor commented on #2027
wag11084's comment works as a solution for my problem. For our forms we use `mm/dd/yyyy` syntax for dates since that's what our audience is familiar with and then we format the payload of certain fields to use ISO date format when we submit to our backend. Had the same problem as teknoel where `Utils.eachComponent(form.components)` wasn't treating components with the same condition the same way; I

[2020-08-31 21:51] #2027 closed

[2020-09-01 09:13] arjuna71 opened #3205 "Using field logic uncheck clears the list but does not allow for individual select later"
Hi,

I am using formio.js in my project for on-the-fly controls using predefined field definitions in JSON generated from form.io builder.

- "Select All" as one of the option and on click should select all of the dropdown list
- "Unselect All" for all selected values that should be unselected from dropdown list
- Should also allow to select individual options from the list as the select component

[2020-09-01 22:29] maryamgharibi opened #3210 "BootStrap.css conflicts with the project"
We are using formio.js in our form, but bootstrap.min.css causes some conflicts with existing css. So ,we wrapped bootstrap.scss and add a new namespace(iso-bootstrap), then used new iso-bootstrap link in the form, and also used the new class inside builder and formio divs, but this approach causes another issues with  formio components  styles and functionality. Is there any way for resolving suc

[2020-09-02 10:00] pmanu93 opened #3211 "[BUG] Error when trying to edit custom EditGrid in FormioBuilder"
## Environment
Please provide as many details as you can:

- Hosting type
  - [ ] Form.io
  - [x] Local deployment
    - Version:
- Formio.js version:4.12.0-rc.9
- Frontend framework: plain js
- Browser: Firefox
- Browser version:  81.0b4 (64-bit)

## Steps to Reproduce
1. Create a custom EditGrid Component (code below)
2. Create a form with the component above and a textfield called `a`;
3. Add `

[2020-09-02 14:38] randallknutson commented on #3210
You are on the right track. If you recompile the SCSS with the iso-bootstrap as the top level item, like this:

[code]

This will cause all the CSS to only apply within a div that has the class of iso-bootstrap. You can also create your own custom templates that conform to your CSS if you don't want to use bootstrap. We have pre-defined templates for bootstrap3, bootstrap4, semantic, bulma, uswds

[2020-09-02 15:01] niklas1893 opened #3212 "[BUG] Hidden labels shown in FormioBuilder"
## Environment
Please provide as many details as you can:

- Hosting type
  - [] Form.io
  - [x ] Local deployment
    - Version:
- Formio.js version: 4.12.0-rc.12
- Frontend framework: plain js
- Browser: Google Chrome
- Browser version: 84.0.4147.125

## Steps to Reproduce
1.  Create a component
2.  Select hide label

## Expected behavior
In previous versions the label was hidden
## Observed beh

[2020-09-02 18:58] MalkyTheKid opened #3214 "[Help] Removing the "Please fix the following errors""
Is there a quick way for us to remove the validation message on submit, on the form.IO portal or upon embedding the form?

We would just like to retain the warning on the textboxes themselves, with a "less is more" sort of feel.

![image](https://user-images.githubusercontent.com/15683727/92024781-a2915980-ed2c-11ea-8c69-0b0dd443134e.png)

[2020-09-02 20:49] randallknutson commented on #3214
I believe you can pass an options.noalert = true to the form when embedding and it will prevent the top level messages from appearing.

[2020-09-02 20:59] MalkyTheKid commented on #3214
Thanks @randallknutson , like so?
[code]

[2020-09-02 23:02] besmiralia opened #3215 "How to use the public configuration (config.json)"
Hi
Is there any example on how to make use of the public configuration(`/config.json`). How do I use the `testKey` in a form?
Normally for any submission data I would go by `{{data.testKey}}`. Is there anything similar for config keys?

I am talking about this part:
[code]

[2020-09-03 01:23] MalkyTheKid opened #3216 "[HELP] Datagrid component with Button, custom logic capabilities"
Currently we have a button on our Data Grid:
![image](https://user-images.githubusercontent.com/15683727/92060395-a55a7180-ed61-11ea-8da5-7c2a61da91aa.png)

Inside it we have the following custom button logic:
![image](https://user-images.githubusercontent.com/15683727/92060475-d76bd380-ed61-11ea-9ad5-a405abe674bc.png)

Using custom logic...can we:
 1. Also go to the next step by custom logic?
 2.

[2020-09-03 02:56] gks66 opened #3217 "[BUG] editgrid > datetime component didn't update when logic value changed"
## Environment
- Hosting type
  - [x] Form.io
- Formio.js version: 4.1.10
- Frontend framework:
- Browser: Chrome

## Steps to Reproduce
1. Create form with Json schema :
[code]
2. Select option from dropdown.
3. The date value in field no changed, but the form submission data updated after editgrid saved.
4. Open the saved record, the datetime display is wrong also, it show first day of month.

#

[2020-09-03 13:22] besmiralia opened #3220 "Question: Is there a Google Map component?"
Have you guys built a Google map component that would render a map, given it's center (lat & lng)?

[2020-09-03 13:58] wag110894 commented on #3217
@gks66 are you really using version.  4.1.10 of the formio.js library? If so, then we recommend upgrading to a newer version. Our latest stable version of the formio.js library is 4.11.3.

Can you try and see if this issue occurs on the latest?

Thank you.

[2020-09-03 14:36] randallknutson commented on #3215
This is added to all the places you either use javascript or interpolate values. For example, you can set the select url to "{{config.testKey}}/mytest" and it will replace the value from the form config. In javascript you can use config.testKey in your calculations.

[2020-09-03 15:55] besmiralia commented on #3215
Thank you @randallknutson
I'll give it a try

[2020-09-03 21:13] SalTor commented on #2645
@marcus-at-localhost Did you ever resolve this?

[2020-09-04 00:15] besmiralia commented on #3220
I found the Location component in the contrib folder that does the job with some modifications

[2020-09-04 10:03] nandhagit opened #3223 "Custom value in checkbox is not working"
I am trying to check the checkbox or un-check it based on some value from the API. I have tried using for eg: customDefaultValue = "value = 1>2", but it did not work. Also tried calculated value. Could someone help

[2020-09-04 11:42] marcus-at-localhost commented on #2645
@SalTor unfortunately not. Since my component was very basic (nothing really custom, just a HTML component called "Header") I dropped it in favor of the native HTML component and it worked as well.
But I would like to see this resolved in some way and I wish the devs could offer a solution.

[2020-09-04 14:54] randallknutson commented on #3223
You should be able to do this with calculated value

[2020-09-04 15:51] wag110894 commented on #3211
Hello @pmanu93,

We do offer Support Packages that are for training, support or development services. The hours can be used in one-hour increments at your convenience over a 90 day period.  We will assign one of our senior developers to work directly with you in online sessions. Please let me know if you are interested and we can provide you with information on our Support Packages.

[2020-09-04 16:41] blochealth opened #3225 "[BUG] Timezone features in DateTime Component all ignored."
## Environment
Please provide as many details as you can:

- Hosting type
  - [x] Form.io
  - [] Local deployment
    - Version: Application: 7.0.40, Renderer: 4.11.3
- Formio.js version: Application: 7.0.40, Renderer: 4.11.3
- Frontend framework: Tested broken in Angular and in Base Form.io portal host
- Browser: Tested broken in Chrome and firefox
- Browser version: Any

## Steps to Reproduce
1.

[2020-09-04 20:00] wag110894 commented on #468
@thanhvietnguyen255,

This module is actually community-contributed and is something that we do not support. You will need to get with the creator of the module for assistance.

[2020-09-04 20:45] randallknutson commented on #3216
The instance variable has basically full access to do stuff on the form. For example, you can access the form with instance.root and then call executeSubmit on it. You can't really store data in a button but you can find another component (instance.root.getComponent('key')) and setValue in that component.

[2020-09-04 20:46] randallknutson commented on #3205
You might have better luck with a button with custom logic that sets the values of each checkbox. Logic runs continuously in the background and won't allow customizations to the checking.

[2020-09-04 22:32] SalTor commented on #2038
@marcus-at-localhost Thanks for this, I too found that with the default Custom Components instructions I couldn't edit the settings once placed and confirmed. Now I can!

[2020-09-04 22:34] SalTor commented on #2645
@marcus-at-localhost Are you able to upgrade your version? I'm able to render Custom Components in portal.form.io as well as on my own web page and I'm using version 4.10.5

[2020-09-06 18:57] #3220 closed

[2020-09-07 00:57] thanhvietnguyen255 commented on #468
Thanks for your response @wag110894. I know this module is free so I can't ask for more. However, I hope the creator of the module can improve some of the bad things I suggested above.

Besides, do you know any free modules for exporting PDF or HTML like this one?

[2020-09-07 01:54] gks66 commented on #3217
Sorry, the version is 4.11.1
I am using https://formio.github.io/formio.js/app/sandbox to test, not working also.

[2020-09-07 04:49] arjuna71 commented on #3205
I got the solution by adding a custom value to the check-box and used it in field logic.  This worked for me.
Thank you for the suggestion.

[2020-09-07 04:49] #3205 closed

[2020-09-07 11:34] sriram275 opened #3226 "[BUG] Shortcut key is not working for the first time after form loading"
## Environment
Please provide as many details as you can:

- Hosting type
  - [x] Form.io
  - [ ] Local deployment
    - Version: v4.12.0-rc.13
- Formio.js version:v4.12.0-rc.13
- Frontend framework:VanillaJS
- Browser:Chrome
- Browser version:84.0.4147.135

## Steps to Reproduce
1. Create a form with checkbox ( and select some shortcut key)
2. After rendering this form try using the shortcut key

[2020-09-07 17:12] mujtaba1016 commented on #827
Hello! Anyone know why https://formio.github.io/formio.js/app/builder PDF builder does not work?
Drag and dropping fields not working
this is only happening for Chrome on MAC.

[2020-09-07 17:44] mujtaba1016 opened #3228 "Drag and dropping fields not working in pdf builder for Chrome on MAC.[BUG]"
Hello! Anyone know why https://formio.github.io/formio.js/app/builder PDF builder does not work?
Drag and dropping fields not working
this is only happening for Chrome on MAC.

[2020-09-08 17:07] MalkyTheKid commented on #3216
Thanks Randall,

so instance.root.executeSubmit() submits the form.

In a multistep form, how do we go to next step? how do we return to previous?

[2020-09-08 17:18] MalkyTheKid commented on #3216
Actually, figured it out here...
https://github.com/formio/formio.js/blob/master/src/Wizard.js#L218

Above extends Webform,

saw implementation for 'prevPage()' and 'nextPage()' that worked.

I think we can also script api calls within these buttons then, and then store a response on a component like you suggest here. Will try...

[2020-09-08 18:55] cskr11 opened #3229 "Form io override drag drop"
Hi, We want to override the existing drag and drop framework of formio. Instead of having set of controls from builder to drag drop, the server will provide us the form control data (search and select) in some form. We will drag drop the data provided from the server which will contain what is the control to be rendered. On drop, the appropriate form io control is required to be rendered based on

[2020-09-08 19:49] cskr11 commented on #1553
Hi, Can you pls let me know how you have accomplished that? We need to build a drag and drop framework - such that instead of dragging and dropping conrols, we will be dragging and dropping search data from the server. On drop, based on the search data selected, we need to show textfield/select box etc by overriding onDrop method..

[2020-09-08 20:54] randallknutson commented on #3229
I'm not sure exactly what you are looking to do. Our platform depends on JSON definitions for forms. The form builder fundamentally builds this JSON which is then rendered by the form renderer. Right now there is no easy way to break the form JSON into pieces and serve it from the server. You could look into different ways of modifying the process though.

[2020-09-08 21:56] cskr11 commented on #3229
@randallknutson Thank you for your reply.

In the current formio, we drag and drop control like textfield, select etc to create the form.
In our case, we don't know the type of the control yet and that will be provided by the server (based on the search results).
When a selection happens from the search results, we want to dynamically create the textfield, select etc. We would like to know if ther

[2020-09-09 09:37] niklas1893 opened #3230 "Using kickbox"
Hey,

I´d like to use kickbox email validation in formio.js email components.
![image](https://user-images.githubusercontent.com/60409711/92581980-ad01a500-f290-11ea-965e-1fd05e11d25d.png)

On the form.io website you can set an api-key, but how can i set it in formio.js?

https://help.form.io/integrations/email/

[2020-09-09 10:28] gertaylor commented on #2251
@midrissi did you manage to find an option to let you know your in "Edition mode"?

[2020-09-09 10:34] midrissi commented on #2251
@gertaylor Yes. Actually, we have added a method with this implementation:

[code]

If you have a better way, I can take it.

Thank you.

[2020-09-09 10:43] gertaylor commented on #2251
@midrissi nice, will check this out.

Cheers

[2020-09-09 13:21] naga7229 opened #3233 "[BUG] Custom default value is not getting displayed for Advanced -> phone number component with multiple value selected in FormBuilder Preview or FormRenderer"
## Environment
Please provide as many details as you can:
Form.io Advanced -> PhoneNumber component

- Hosting type
  - [x] Form.io
  - [ ] Local deployment
    - Version:
- Formio.js version:4.10.5
- Frontend framework: yes
- Browser: Chrome/Firefox
- Browser version: Chrome Version 85.0.4183.83 (Official Build) (64-bit)/Firefox 80.0.1 (64-bit)
![FormIO_PhoneNumber_Issue](https://user-images.gith

[2020-09-09 14:05] AmeeBhadania opened #3234 "[BUG] Logic Tab: When the trigger is an event, not able to hide the dataGrid by setting 'hidden' property to true in the action"
## Environment
Please provide as many details as you can:

- Hosting type
  - [x] Form.io
- Formio.js version: v4.12.0-rc.14

## Steps to Reproduce
1. Add a datagrid component. In it's logic, set
   * trigger type as event, say event01
   * action type as property
   * set the hidden property to true.
2. Add a textField within the dataGrid
3. Now, add a button, that fires an event, 'event01' on cl

[2020-09-09 14:20] AmeeBhadania commented on #3196
Thank you for the inputs.
Will set the value as  `value = moment().startOf('day').add(data.number,'days')`

[2020-09-09 14:20] #3196 closed

[2020-09-09 14:46] randallknutson commented on #3229
You're probably going to have to look at the code for the drag and drop and see what is possible. The code for it is here: https://github.com/formio/formio.js/blob/master/src/WebformBuilder.js

[2020-09-09 15:18] AmeeBhadania commented on #3234
The same issue is observed for,
1. Tabs
2. Editgrid
3. Tree
4. Datamap

[2020-09-09 21:31] randallknutson commented on #3230
This requires our enterprise server with projects to enable.

[2020-09-09 21:43] wag110894 commented on #3234
Hello @AmeeBhadania,
Thanks for reaching out!

[2020-09-10 08:16] #3230 closed

[2020-09-10 10:18] hisuwh commented on #1804
I've got the same problem as @hieuiris1994

[2020-09-10 10:30] hisuwh commented on #1752
I'm still getting this issue with vue-formio@4.0.7 and formiojs@4.11.3

form:
[code]

submission:
[code]
options:
[code]

[2020-09-10 10:43] Baloche opened #3236 "[BUG] Selected value is visible twice in the choices of the "Select" component"
## Environment

* Formio.js version: 4.11.0

* Browser: Chrome

## Steps to Reproduce

Please see [this fiddle](https://jsfiddle.net/neo1chas/3/)
 This is the example from the guide (https://formio.github.io/formio.js/app/examples/select.html) with an added property : `minSearch: 2`

* Click on the input
* type the first letters of "Hooli" to get the choices suggestions
* select "Hooli"
* click on

[2020-09-10 15:58] SalTor commented on #1431
@jhen1422 it's a year later, any update?

[2020-09-10 16:21] Ankita-G-Mudgal opened #3238 "[BUG] formiojs folder had node_modules inside it"
## Environment

while installing formiojs through npm I could see node_modules folder inside formiojs folder. Also, it does not install all the dependencies like dragula.

- Hosting type
  - [x] Form.io
  - [ ] Local deployment
    - Version:
- Formio.js version: 4.11.3
- Frontend framework: webcomponents
- Browser: All
- Browser version:

## Expected behavior
it should contain only dist folder

#

[2020-09-10 16:45] #3229 closed

[2020-09-10 16:54] wag110894 commented on #1431
Hello @SalTor,

This is functionality that we are currently working on. We will let you know once it has been released.

[2020-09-10 17:03] wag110894 commented on #3105
Hello all,

The issue with the JSFiddle above was that needed need to add 'alertMessage': '{{label}}: {{message}}' in their list with translations for each language. Here is working JSFiddle: https://jsfiddle.net/231ygthz/6/.

[2020-09-10 17:03] #3105 closed

[2020-09-10 19:06] wag110894 commented on #1752
Hello @hisuwh,
We are aware of this issue and it is currently being worked on by one of our developers. For reference, the ticket number is FJS-1070. We will let you know once this issue is resolved.

Thank you.

[2020-09-10 20:49] randallknutson commented on #3238
This is handled by npm. If there is a different version than the containing app it will install a different version in the nested node_modules folder. Otherwise it is in the root node_modules.

[2020-09-10 20:49] #3238 closed

[2020-09-11 08:24] Ankita-G-Mudgal commented on #3238
Can you explain it? Different version as in

[2020-09-11 10:31] Ankita-G-Mudgal commented on #1448
I am also facing the same issue as trying to integrate it with webcomponents. Is there any plan to fix this?

[2020-09-11 14:48] randallknutson commented on #3238
This is how npm works, not form.io.

[2020-09-11 14:49] randallknutson commented on #1448
We don't currently have any plans to change this as it doesn't occur in any of the systems we are currently working with. We would be happy to accept a pull request that solves your use case.

[2020-09-11 19:03] phucduong86 opened #3243 "[BUG] Regular expression validation - error messages does not show field & pattern"
## Environment
Please provide as many details as you can:

- Hosting type
  - [] Form.io
  - [ ] Local deployment
    - Version: N/A
- Formio.js version: 4.11.3
- Frontend framework: JS
- Browser: Chrome/Firefox/IE
- Browser version:

## Steps to Reproduce
1. Navigate to form https://codepen.io/duongph/pen/KKVdLxe
2. Type "abcd"
3. Read error message

## Expected behavior
Error message should be "

[2020-09-12 04:13] MalkyTheKid opened #3245 "[HELP] Adding and removing custom CSS Class after "getComponent""
Is there a proper way to add a custom and remove CSS classes to a component after selecting it via "getComponent", like the way you set value to it?

for example, something like `form.getComponent('btnSelect').addClass('btnIsSelected');`  and something similar for removing css classes?

[2020-09-12 15:35] StephenOTT opened #3246 "FormioUtils: eachComponent vs flattenComponents: when to each each?"
is the only different between flatten and each is flatten returns the key-value ? Or is there a specific scenario where flatten is used?

[2020-09-12 16:07] StephenOTT opened #3247 "When have to redraw?"
I have something like this:

[code]

The setDefaultValues(..) updates the submission.data object.  But the form does not redraw.  I was expecting it to detect the change?

if i call form.redraw() the value appears.

Is this expected?

Thanks!

[2020-09-12 16:11] StephenOTT commented on #3247
It seems it will only detect updates at the form.submission level.

[2020-09-14 13:29] mohlendo opened #3251 "[BUG] Day component cannot be localized"
## Environment
 "angular-formio": "^4.9.6",

## Steps to Reproduce
Provide a custom translation.json file with the following keys set:

[code]

## Expected behavior
Labels of Fields "Day", "Month" and "Year" are localized.

## Observed behavior
All other localization work - so I suspect that it is a problem with the "Day" Komponent.

[2020-09-14 14:39] randallknutson commented on #3247
If you update the submission object directly then it won't detect it. You have to do
form.submission = {
 data: setDefaultValues(form.submission.data)
}

This will trigger the update since the submission object is new and reassigned.

[2020-09-14 14:41] randallknutson commented on #3246
eachComponent works a little differently since there are cases where you need to do a tree traversal as opposed to just have a list of components. Many times with nesting the api keys depend on their parent value so traversals can give you that. In addition, some components, like container and datagrid, can have duplicate components that will be lost by flattencomponents.

[2020-09-14 14:48] randallknutson commented on #3245
form.getComponent('btnSelect').element is the dom element and you can make modifications to it. Be aware the if redraw gets called the element is destroyed and recreated.

[2020-09-14 15:52] svenvandescheur opened #3253 "[BUG] Some classname are currently hardcoded"
Some classnames (used for styling components) are currently hardcoded. This makes styling forms more difficult, especially when dealing with different naming conventions like BEM.

Soms classnames can be overridden on some way, others are deeply nested in methods.

A possible solution is to have:

- An inventory of classnames which can be customized.
- An overridable method (either via an extend o

[2020-09-14 15:56] wag110894 commented on #827
@mujtaba1016,

We will take a look and see why this is happening. We created a ticket and have added it to our backlog. We welcome a PR or have a process to expedite this issue. For reference, the ticket number is PDF-159.

We will let you know once this issue has been resolved.

[2020-09-14 16:04] wag110894 commented on #3233
@naga7229 Thanks for reaching out. We are able to replicate and have created a ticket (FJS-1214) and have added it to our backlog. We welcome a pull request or have a process to expedite if you are interested.

We will let you know once this issue has been resolved.

[2020-09-14 16:57] SalTor commented on #1536
@srinisubramanian Just as wag110894 said you set these options at form creation like I've detailed below. I had to do this to allow iframes.

[code]

[2020-09-14 17:32] StephenOTT commented on #3247
thank you

[2020-09-14 17:32] #3247 closed

[2020-09-14 17:36] StephenOTT commented on #3246
So does eachComponent navigate all components regardless of their nested structures?
I am looking at something like

https://github.com/formio/formio/blob/d0c08a27482a0ed67612616a7017b77dfa5d6738/src/resources/FormResource.js#L24

Is it designed to pickup all nested components?

[2020-09-14 20:42] randallknutson commented on #3246
Yes. It will pick up all nested components.

[2020-09-14 20:42] StephenOTT commented on #3246
Thanks

[2020-09-14 20:42] #3246 closed

[2020-09-14 20:51] randallknutson commented on #3253
We definitely don't want to have any hard coded class names but probably do still have some. We have a method that each framework template should have to swap classes. https://github.com/formio/formio.js/blob/master/src/templates/bootstrap/cssClasses.js

If there is a place where a class is hard coded, we should at least pass it though the css class transform.

[2020-09-14 21:04] wag110894 commented on #3236
Hello @Baloche, This is expected. If you do not want to have it show up twice, you will need to get rid of the valueProperty. I hope that this helps.

Thank you.

[2020-09-14 21:06] wag110894 commented on #3217
It looks like you have not added an Action to the Logic on the select component.
Here is an example of our field logic: https://formio.github.io/formio.js/app/examples/fieldLogic.html

I hope that this helps.

[2020-09-15 06:01] gks66 commented on #3217
Hi, tried with the example, it was not working.

New sample json:
[code]

[2020-09-15 09:08] Baloche commented on #3236
Thanks for the @wag110894,
I just tried to remove the valueProperty but it still does not work. The selected value still shows up twice in the choices 😕

[2020-09-15 09:13] svenvandescheur commented on #3253
Thanks for your reply, how would this work exactly? I tried adding a "transform" property to my template library and I expect every class to be transformed to "foo" (for now).

[code]

I'm expecting to see at least a message in my console regarding the transform and having all my classnames transformed to "foo".  But unfortunately nothing like this happens. Am I incorrectly defining my template?

[2020-09-15 14:09] mohlendo opened #3256 "[BUG] Day component is not disabled if parent is disabled"
When disabling a parent component like a panel, all its children are disabled, as well - with one excpetion: the day component.
I have created an example form:

See https://pro.formview.io/#/hwqkykwnapqshan/daydisable?header=1&reset=1

Toggle the "disable" radio-button and you see, that only text field got disabled.

[2020-09-15 14:30] randallknutson commented on #3253
The transform function should work.
https://github.com/formio/formio.js/blob/master/src/components/_classes/component/Component.js#L743-L745

However, the class needs to be passed through it like this:
https://github.com/formio/formio.js/blob/master/src/components/_classes/component/Component.js#L1534

If the class is not passed through the transform then it won't change.

If the class is in a tem

[2020-09-15 14:32] randallknutson commented on #3236
The issue here is that if the value does not show up in the first set of results from the server then there is nothing in the list of options to match the current value to. The select must add it to the list then so it can be selected. Then when the search occurs again it will show the result a second time. There isn't a lot we can do about this because of the way the underlying data works.

[2020-09-15 14:40] SalTor opened #3257 "S3 Integration: Setting MetaData [usage question]"
Is there a way to configure a File Upload component or project-level S3 integration to add some metadata to the S3 objects being created?

An example would be: metadata regarding Content-Disposition: attachment;

[2020-09-15 18:40] wag110894 commented on #3226
Hello @sriram275,

We are able to replicate this issue and have added this to our backlog. We welcome a PR or have a process to expedite the issue if you are interested. For reference, the ticket number is FJS-1216.

We will let you know once this issue has been resolved.

[2020-09-15 18:40] wag110894 commented on #3243
@phucduong86

We are able to replicate this issue and have added this to our backlog. As you know, we welcome a PR or have a process to expedite the issue if you are interested. For reference, the ticket number is FJS-1217.

We will let you know once this issue has been resolved.

[2020-09-15 20:46] travist commented on #3251
I am looking at the templates and it looks like it is translating.

https://github.com/formio/formio.js/blob/master/src/templates/bootstrap/day/form.ejs#L5

Try adding the keys as ```Day```, ```Month```, and ```Year``` with the uppercase first character.

[2020-09-16 07:23] Baloche commented on #3236
The problem here is that even before the search occurs again, the value already appears twice in the result :
<img width="444" alt="Capture d’écran 2020-09-16 à 09 22 25" src="https://user-images.githubusercontent.com/8208027/93305028-3a4b7900-f7fe-11ea-8139-449a52251a22.png">

[2020-09-16 08:04] Baloche commented on #3236
After looking at the source code in the Select.js component, I understand that the list is filled by calling the `setChoices(choices, value, label, replaceChoices)` method from ChoicesJS.

Maybe the `replaceChoices` argument is not set properly at some moment ?

I think the full `choices` list should be replaced each time we call the `setChoices` method.
Today it is not the case, sometimes it's re

[2020-09-16 08:27] mohlendo commented on #3251
@travist  I have tried that - but had no success. I have created an unit test in this branch which shows, that the Day component does not apply the translation: https://github.com/mohlendo/formio.js/tree/day-i18n

[2020-09-16 13:47] pocketcap opened #3262 "[QUESTION] Manipulate response of URL for Select component?"
I am trying to call an endpoint to get list of options for Select component like below:

[code]

As you noticed, the value contains spaces at the end, is there any way to get them removed? I tried to change them in selectOptions and defaultDownloadedResources of Select component, but it doesn't help. Because of those spaces, Select component has issue to match value to label as the saved value of

[2020-09-16 14:29] randallknutson commented on #3251
The day component seems to be translating. You can see this by going to http://formio.github.io/formio.js/app/sandbox and loading the sandbox 5f622112896ba92c87a91916 (You may need to reload the page after loading). All the strings seem so translate just fine.

[2020-09-16 14:30] travist commented on #3236
We recently added a new feature to the Select where it will only display the Unique values.

https://github.com/formio/formio.js/commit/e1c5444dea53dac0041a734595fae4fd0eca8c7c#diff-d8fc1e0640335585f45d7a1c8be83bcd

Can you confirm that you have this option enabled?

[2020-09-16 16:00] muster-mark opened #3263 "[ENHANCEMENT]"
Would it be possible to change the markup for checkboxes to allow adding custom styles for them?

Currently the mark up is like:

[code]

With the input in the label it is not possible to style the input. Putting the label after the input would allow this.

[2020-09-16 16:47] wag110894 commented on #3262
@pocketcap, You can remove the spaces inside of the builder. It will save your data correctly if you get rid of the spaces.

[2020-09-16 17:17] mohlendo commented on #3251
@randallknutson  thanks for your help! Yes, I see that it works in the sandbox. But I am a little lost why it is not working for me. I have adapted my Unit test - with all variations of where to put the 'Day' key and it is still not working.
Also in my app with angular-formio it is still not working. Do you have any idea what I am doing wrong?

[2020-09-16 17:38] mohlendo commented on #3251
Arg - it was an error with the setup of my angular app. The translation file was not loaded correctly.

[2020-09-16 17:38] #3251 closed

[2020-09-16 17:40] pocketcap commented on #3262
@wag110894 could you please provide more details? Did you mean I can remove spaces somewhere in this page when I choose "URL" as Data Source Type?
![image](https://user-images.githubusercontent.com/1475774/93372586-1306a300-f822-11ea-88ba-3072046f7476.png)

[2020-09-16 17:48] StephenOTT opened #3264 "[BUG] Builder: Nested Form configuration does not allow a custom form name/ID value"
When you build a form with a nested form, the nested form component does not allow for a custom value to be provided.  It only works with the drop drown list.  A custom value should be allowed.

Thanks!

[2020-09-16 18:11] wag110894 commented on #3262
@pocketcap, Could you provide the link to the data source URL that you are using for this form?

[2020-09-16 18:14] wag110894 commented on #3264
@StephenOTT, can you provide a JSFiddle of what you are seeing?

[2020-09-16 18:22] pocketcap commented on #3262
Yes, I could. With link as date source URL, I am able to get list of values for drop down when I launch the form, but they would contain spaces.

[2020-09-16 18:24] wag110894 commented on #3262
@pocketcap Do you have access to the URL and able to take out the spaces from the values?

[2020-09-16 18:26] pocketcap commented on #3262
Yes, I do have access to URL and can take out the spaces there. But I am just wondering if FormIO provides any data manipulation for the values of Select component.

[2020-09-16 18:34] wag110894 commented on #3262
@pocketcap Not when the select component is set to URL.

[2020-09-16 18:52] StephenOTT commented on #3264
<img width="1121" alt="Screen Shot 2020-09-16 at 2 36 34 PM" src="https://user-images.githubusercontent.com/1994838/93379659-23bc1680-f82c-11ea-8d7e-abdd7964c775.png">

[2020-09-16 19:17] pocketcap commented on #3262
@wag110894  understood. Thanks~

[2020-09-16 20:23] blochealth commented on #2309
In case anyone else is still looking for a way to do this, in the latest version of form.io I did this by placing the following logic in the Buttom Custom Logic field (obviously swap out your own variables for source and destination rows and columns). In my case the 'paste' was going into the 3rd column in my 'destination' datagrid, which is why my 1st and 2nd columns are blank,

[code]

[2020-09-16 20:40] randallknutson commented on #3264
How would you see this working? Our select component doesn't have the ability to add custom values. Would this be a url to the form definition or something?

[2020-09-16 20:45] randallknutson commented on #3263
You can already modify the output of each template by using our template system. You can get more information on it here: https://github.com/formio/formio.js/wiki/Templates-API

You can then create your own templates to move the elements around, add your own, or do whatever you want with it.

[2020-09-16 21:01] StephenOTT commented on #3264
Most basic would just for setting the `form` property in the json.  So you basically can set a "custom" form id.  Let the person who is using that interpret it at as see fit.

A more advanced scenario may be a specific URL or maybe even the form schema json object?

The scenario I am looking at is where you can define some custom IDs which will be processed when the parent form is loaded, and the

[2020-09-17 02:21] gks66 commented on #3045
tested solved in version 4.12.0-rc.14

[2020-09-17 02:21] #3045 closed

[2020-09-17 07:21] Baloche commented on #3236
I just tried : `uniqueValues` (which has now been renamed to `uniqueOptions`) does not resolve the problem 😕

[2020-09-17 10:41] detygon opened #3266 "[HELP] How to change the language of the builder (i18n)"
Hi, thanks for this great library. I would like to use it in my project but I can't find anywhere in the docs how to change the language of the builder itself / the whole UI. Can someone help me ?

[2020-09-17 13:54] StephenOTT opened #3268 "Builder: support "Paste Into" option for layout components"
When working in the builder and you copy a form component, if the form is large, it is difficult to navigate the page.
Would be great if the copy/paste buttons supported "Paste Into" so you can copy a component and paste it into a layout (such as moving a `fieldset` into a `container`.  Currently if you do a Copy and "Paste Below" it pastes under the desired layout, rather than inside.

Would also

[2020-09-17 14:27] randallknutson commented on #3268
This would be great. I've experienced this myself recently. This should be fairly straightforward to develop. Is it something you could either do a PR for or sponsor?

[2020-09-17 14:28] randallknutson commented on #3266
Should be the same process as with the form. Here is an example. http://formio.github.io/formio.js/app/examples/language.html

[2020-09-17 14:31] travist commented on #3264
The form component already supports a ```src``` property that will render the subform using the API endpoint of that form. I think to support this we would just need to add that as a configuration in the edit form (which is not complicated). Alternatively, you could just edit the JSON directly on that component and add it.

[2020-09-17 14:32] StephenOTT commented on #3264
@travist is the Src prop tied to a specific API request/response format?

[2020-09-17 15:07] StephenOTT opened #3270 "Builder: Add key and/or component type info on hover over component next to "edit, move, copy, paste, etc" buttons"
When dealing with complex forms with layouts, containers, etc, there can be many components that stack up and it can be difficult to select the specific component / select the edit button/gear icon, or any icon in that space.

Furthermore it is difficult to know which component you are about to edit.  You currently have to click the edit button and figure out if it is the correct component.

it wo

[2020-09-17 17:27] SalTor opened #3271 "[BUG] Formiojs Select Component Autocomplete Feature Causes Browsers To Complete Incorrect Fields"
## Environment
Please provide as many details as you can:

- Hosting type
  - [x] Form.io
  - [ ] Local deployment
    - Version:
- Formio.js version: v4.10.5
- Frontend framework: none
- Browser: chrome, firefox, safari
- Browser version: n/a

## Steps to Reproduce
1. Set autofill for address in your browser
2. Have a form with select inputs
3. Open the form and use completed info

## Expected be

[2020-09-17 22:35] StephenOTT commented on #3264
@travist additional point about the current configuration of nested forms is the src property cannot be set if you cannot select from the drop down.  In the current builder UI you are basically forced to select from the dropdown if you want to save the component.

[2020-09-17 22:47] StephenOTT opened #3272 "Feature Req: Provide explanation set that Container nests the submission json"
Users often do not realize or remember that container component will nest their json within the submission.  Would be great to have a additional explanation text on the component's edit ui as it is fairly different than other component's usage.

Thanks!

[2020-09-18 03:32] timpamungkasudemy commented on #2482
Hi, any update on this? I also use enterprise plan, and still got this error

[2020-09-18 08:11] mohlendo commented on #3256
Any news on this?

[2020-09-18 10:40] jftsaraiva opened #3273 "[BUG] Formtype when File component is disabled with advanced logic"
## Environment
Please provide as many details as you can:

- Hosting type
  - [ ] Form.io
  - [X] Local deployment
    - Version:
- Formio.js version: 4.10.2
- Frontend framework:
- Browser:
- Browser version:

## Steps to Reproduce
1. Configure File component with Base64 and some File Types (pdf, doc, xls, txt)
2. Open form, upload a file and select xls as file type and save data.
3. Edit form an

[2020-09-18 10:51] jftsaraiva commented on #3273
I changed File.js and change this [line]( https://github.com/formio/formio.js/blob/955cab6553f3eb37f1c9b3bccbf38caa577244f0/src/components/file/File.js#L430):

[code]
to this
[code]
and this solved the bug.

When getting dataValue from saved data we don't want to override saved value with first item label. Only when fileType is null we should set first item.

I will do a PR with this.

[2020-09-18 13:37] wag110894 commented on #2482
Hello @timpamungkasudemy,

Please contact sales@form.io in order to have access to our premium components.

Thank you.

[2020-09-18 13:41] wag110894 commented on #3256
@mohlendo,

Thank you again for creating a PR for this issue. We have been able to take a look at your change but I should be a part of our next formio.js build.

We will let you know once this has been merged.

Thank you.

[2020-09-18 14:25] elibus opened #3277 "[BUG] FJS-1250 Calendar picker set wrong date after blur event"
## Environment
Please provide as many details as you can:

- Hosting type
  - [ ] Form.io
  - [x] Local deployment
    - Version:
- Formio.js version: 4.12.0-rc.14+
- Frontend framework:
- Browser:
- Browser version:

## Steps to Reproduce
1. Go here: https://jsfiddle.net/w4fcjpm7/
2. Select a date
3. Click on the text component
4. Check the date is now wrong

## Expected behavior
Date is set corr

[2020-09-18 14:27] randallknutson commented on #3264
Have you tried the editJSON button directly? That may work although it is not a good solution for end users.

[2020-09-18 14:28] randallknutson commented on #3272
That's fair. Is that something you could provide? This would be as easy as adding an html component in the editform here https://github.com/formio/formio.js/blob/master/src/components/container/editForm/Container.edit.display.js

[2020-09-18 14:29] StephenOTT commented on #3264
The problem is you cannot do the initial save of the component.  So you cannot use the "edit Json" button.  The workaround is to find a sample of the json, and then use a "custom component" instance... (which is even worse for end users :) )

[2020-09-18 14:30] randallknutson commented on #3264
Yup. I'm trying to picture how the UI for this should work. Would there be a way to switch to a textfield or something?

[2020-09-18 14:33] StephenOTT commented on #3264
as @travist mentioned, if you already support a "src" prop, then if there was a requirement for either a url/src field or a selection from the drop down that would be an easy compromise.

Though i am still unclear on:

If custom json is being provided for a parent form, can custom json be provided for nested forms?

[2020-09-18 14:49] wag110894 commented on #3277
Hello @elibus, We are aware of the issue and have added this back to our developer to work on.

The ticket number is FJS-1103. We will let you know once this is resolved.

[2020-09-18 15:23] elibus commented on #3277
#3237

[2020-09-18 20:37] StephenOTT commented on #3264
@travist how do you use the `src` property?

I am trying to trial with https://formio.github.io/formio.js/app/builder, but i cannot seem to get the src prop to be read.

[2020-09-18 20:45] randallknutson commented on #3264
This is the setting that controls the form: https://github.com/formio/formio.js/blob/master/src/components/form/editForm/Form.edit.form.js#L2-L21

[2020-09-18 20:57] wag110894 commented on #3271
@SalTor,

Thank you for reaching out! We have created a ticket and have added it to our backlog. We welcome a pull request and have a process to expedite if you are interested.

For reference, the ticket number is FJS-1234.

We will let you know once this issue is resolved.

[2020-09-19 09:53] Quartzbell opened #3278 "[BUG] Menu carousel stop working after search/filtering fields"
## Environment
Please provide as many details as you can:

- Hosting type
  - [x] Form.io
  - [x] Local deployment

## Steps to Reproduce
1.  Go here : http://formio.github.io/formio.js/app/sandbox
2.  In the search field, type anything.
3.  Clear search field.
4. Carousel will stop working.

## Expected behavior
Menu carousel working after menu filter is cleared.

[2020-09-19 14:17] StephenOTT commented on #3264
@randallknutson should this configuration be possible through the UI?
https://github.com/formio/formio.js/blob/master/src/components/form/fixtures/comp2.js

If i try here, it gets stripped https://formio.github.io/formio.js/app/builder

[2020-09-20 14:10] georgievstgeorge commented on #1567
On the link above it is described how to resolve the issue.
Thanks

[2020-09-20 19:40] StephenOTT opened #3279 "[BUG] Day Component does not respect "disabled" property on containers/layouts"
If you set the Day component into a container and set the container to disabled the day component does not get disabled.

https://formio.github.io/formio.js/app/builder

[code]

[2020-09-20 19:42] StephenOTT commented on #3279
<img width="760" alt="Screen Shot 2020-09-20 at 3 41 10 PM" src="https://user-images.githubusercontent.com/1994838/93720542-bbd13d00-fb57-11ea-89e1-810c869861ec.png">

<img width="961" alt="Screen Shot 2020-09-20 at 3 41 55 PM" src="https://user-images.githubusercontent.com/1994838/93720558-d5728480-fb57-11ea-9b48-79d37c7bc7e6.png">

[2020-09-21 00:37] StephenOTT opened #3281 "BUG: Field that is validate.Required = true and persistent = false allows omission of field"
Trying to get clarification if this is intended or a bug:

[code]

and then submit the following:

[code]

I would expect that `f3` is removed as it is a "extra field", and it would throw a validation error as `f2` is missing from the submission and it is marked as a required field.  But the above submission is accepted and only `f1` is returned.

I would expect f2 to be available for server side

[2020-09-21 00:55] StephenOTT opened #3282 "Usage for Tree Component to support multiple top level items?"
It seems a tree component only supports a single parent? and if you set multiple-values = true on a tree component it does not appear to do anything:

https://formio.github.io/formio.js/app/builder

<img width="949" alt="tree" src="https://user-images.githubusercontent.com/1994838/93726351-94906500-fb83-11ea-9086-6f71763ea6a4.png">

[code]

If tree only supports a single parent, what is the use ca

[2020-09-21 04:42] bleungAtGTI opened #3283 "[BUG] Property names should not be allowed to start with a number"
## Environment
Please provide as many details as you can:

- Hosting type
  - [x] https://formio.github.io/formio.js/app/builder
- Browser: Any

## Steps to Reproduce
1. Drag and drop a TextField
2. Type label: 1. bla bla bla
3. API > property name is `1blablabla`

## Expected behavior
Maybe escape the name start from number

## Observed behavior
property name is `1blablabla`,
it can't used as jav

[2020-09-21 07:44] mohlendo commented on #3279
Duplicate of #3256

[2020-09-21 09:59] AmeeBhadania opened #3285 "[BUG] Not able to set attributes for Tags component using HTML Attributes under Layout tab"
## Environment

- Hosting type
  - [x] Form.io
- Formio.js version: v4.12.0-rc.16

## Steps to Reproduce
1. Add a Tags component
2. Go to edit -> Layout -> HTML Attributes
3. Add an attribute 'style' with the value 'background: blue' and Save

## Expected behavior
The background for the tags input must be changed to blue.

## Observed behavior
The background for the tags input is still grey

[code

[2020-09-21 12:35] #3279 closed

[2020-09-21 14:35] randallknutson commented on #3282
I don't think the tree was designed to support multiple. We don't have any plans to do this at the moment but would be open to a contribution for that.

[2020-09-21 14:37] StephenOTT commented on #3282
@randallknutson thanks.  What is the use case for a Three that only has one parent/one branch?

[2020-09-21 14:37] randallknutson commented on #3283
We should do a better job filtering the property name so it can't start with a number.

[2020-09-21 14:42] travist commented on #3236
There is another property that you should try to set called ```idPath``` (https://github.com/formio/formio.js/blob/master/src/components/select/editForm/Select.edit.data.js#L265). This property allows you to provide a path to what you would like to use as the "id" for each value in the select, and the uniqueness will be based on this path.

[2020-09-21 14:43] randallknutson commented on #3281
You scenarios are correct.

If a component is required but not persistent it should throw an error if it is not included on each submission. What version are you checking this for? In formio v1.x it has a custom validator and in 2.x it has isomorphic validator and is using formio.js on the server side. If this is a bug on the older validator could you check it on the newer validator?

[2020-09-21 14:58] StephenOTT commented on #3281
@randallknutson I have tested with 1.90.9.  I will have to look how to adapt the code for 2.x
https://github.com/StephenOTT/Form-Validation-Server/blob/master/app/src/validator.js

I had issues before using 2.x

[2020-09-21 15:08] StephenOTT commented on #3281
@randallknutson doing a quick test against 2.0 RC14 it still appears to be a issue/bug

[2020-09-22 09:05] Baloche commented on #3236
Nope, still visible twice 😕

Here is my component JSON, updated with the properties you suggested  :
[code]

The bug is also reproducible in the builder from the documentation page : https://formio.github.io/formio.js/app/builder

[2020-09-23 07:31] bleungAtGTI opened #3291 "[BUG] `util.guid()`as calculate value, it will non-stop calculate"
## Environment
Please provide as many details as you can:

- Hosting type
  - [x] https://formio.github.io/formio.js/app/builder
- Browser: Any

## Steps to Reproduce
1. Drag and Drop a textfield
2. In calculate value, type: `value = util.guid();`
3. checked `Allow Manual Override of Calculated Value`

## Expected behavior
1. Calculate once
2. If user manual override, it will stop re-calculate

##

[2020-09-23 10:16] doublegrey commented on #3291
The problem is not with the [utils.guid()](http://formio.github.io/formio.js/docs/file/src/utils/utils.js.html#lineNumber415) function. It's the way how calculated values work. Value is calculated on every tick. It is not a bug, it is expected behaviour
[code]
![formio](https://user-images.githubusercontent.com/25150523/93999724-d812eb00-fd9e-11ea-840c-dcf27f72ca14.gif)

Have a nice day! 😄

[2020-09-23 10:30] doublegrey commented on #3228
Confirmed, PDF builder is broken, however there are no errors or warnings in console.
![formio_pdf (1)](https://user-images.githubusercontent.com/25150523/94001186-d77b5400-fda0-11ea-9b9a-4e020a66ff2d.gif)

[2020-09-23 11:23] Ankita-G-Mudgal opened #3292 "QUESTION- Is there a way to customize the accordion. left-sidebar of formio"
How can I add search field inside components list using form builder.

like in this example https://formio.github.io/formio.js/app/examples/custombuilder.html search field is at the top. I want it to be inside userfields. Can this be possible.

Help is very much appreciated

[2020-09-23 17:35] jhen1422 commented on #3277
@elibus
This should be resolved on 4.12.0-rc19 of formio.js

[2020-09-23 18:00] jhen1422 commented on #3111
@SalTor
This should be resolved in formio.js 4.12.0-rc13>

[2020-09-23 18:00] #3111 closed

[2020-09-23 18:04] jhen1422 commented on #3108
@kzhang-dsg
Issue should be resolved in formio.js version 4.12.0-rc19

[2020-09-23 18:11] kzhang-dsg commented on #3108
Just tested with version 4.12.0-rc19. Looks like the issue still exists: https://jsfiddle.net/952hnr1y/1/

[2020-09-23 18:17] jhen1422 commented on #2696
@sutauma
Should be resolved in formio.js version 4.12.0-rc11 >

[2020-09-23 18:17] #2696 closed

[2020-09-23 18:46] jhen1422 commented on #3055
@crivera305
This issue should be resolved in version 4.12.0-rc19 of formio.js.

[2020-09-23 18:46] #3055 closed

[2020-09-23 18:49] elibus commented on #3277
@jhen1422 it does not look to me like it's solved. Have a try here: https://jsfiddle.net/619qyebf/1
Pick any date on any datetime component and click on any other field

[2020-09-23 18:54] ghost opened #3293 "[BUG] removeComponent() does not work for nested Panels"
## Environment
Please provide as many details as you can:

- Hosting type
  - [x] Form.io
  - [ ] Local deployment
    - Version:
- Formio.js version: 4.10.5
- Frontend framework: Javascript
- Browser: Mozilla Firefox
- Browser version: 81.0 64-bit

## Steps to Reproduce
1. Create a form with a Panel nested inside of another Panel
2. Call removeComponent on the child panel

## Expected behavior
Th

[2020-09-23 18:59] jhen1422 commented on #2980
@airarrazaval
Can you try version 4.12.0rc19 of formio.js to see if this is resolved?

[2020-09-23 19:38] jhen1422 commented on #3293
@YioMtz31
Thank you for the feedback. We've been working on a formio.js 4.12.0 build that we are close to releasing. Can you please check if latest version of 4.12.x resolves this issue?

[2020-09-23 21:17] YioMtz31 commented on #3293
@jhen1422
Tested with https://unpkg.com/formiojs@4.12.0/dist/formio.full.min.js and got the same result.
As a workaround I added a well component inside the parent panel, moved the child panel inside the well and then call removeComponent on the well.

[2020-09-24 00:50] rustymcg9000 opened #3294 "Is it possible to remove specific fields from the tabs when using a custom form builder"
I would like to remove certain fields within the "Display" tab, as they are just not useful for our clients i.e. Hidden, Hide Label, Show Word Count etc. ??

I've seen how you can hide entire tabs such as:

[code]

But not how to hide individual fields with tabs.

Thanks

[2020-09-24 03:13] cskr11 opened #3295 "update form builder custom options"
Hi, We are in need of updating the existing components already rendered. Say if the below are the formbuilder options being set at the initial render time to have components firstName and lastName textfields.

"builder":{"custom":{"title":"User Fields","components":{"first Name":{"title":"First Name","key":"firstName","icon":"terminal","schema":{"label":"First Name","type":"textfield","key":"first

[2020-09-24 03:36] bleungAtGTI commented on #3291
Yep,
but if i want to create random default value as id (user editable),
how to do that?

and, i have checked `Allow Manual Override of Calculated Value`,
it should stop after user override

[2020-09-24 07:32] doublegrey commented on #3291
Ok, I will show you an example of using 'Allow Manual Override of Calculated Value' property. Image you have text field with property name 'text1' and the second with 'text2'. Calculated value of text2 will be
[code]
Behaviour without ```Allow Manual Override of Calculated Value``` checked
![without_override](https://user-images.githubusercontent.com/25150523/94113460-93935800-fe4f-11ea-9d48-15ad8

[2020-09-24 07:53] Ankita-G-Mudgal commented on #3294
You can do it by adding this to editForm

 `{
        key: 'display',
        label: 'DISPLAY',
        components: [
          { key: 'placeholder', ignore: true },
          { key: 'label', ignore: true },
          { key: 'labelPosition', ignore: true },
          { key: 'description', ignore: true },
      ]
}`

Formio.Components.components.textfield.editForm() print this in console you will g

[2020-09-24 11:13] mm-rspacjer opened #3297 "[BUG]"
## Environment
Windows 10 / TypeScript and webpack

- Hosting type
  - [ ] Form.io
  - [x] Local deployment
- Formio.js version: 4.12.0
- react-formio: 4.3.0
- Frontend framework: React 16.13.1
- Browser: Google Chrome
- Browser version: 85.0.4183.102

## Steps to Reproduce
1. In the form builder add `Selectboxes` Component and fill it in with some data
2. In the `Display` options for this compone

[2020-09-24 12:25] Ankita-G-Mudgal commented on #3278
I am facing the same issue with version: 4.12.0

[2020-09-24 12:45] kunaljain611 opened #3298 "[BUG] Select Field: Default value is not retained when multiple values option and clear value on refresh option is set to true."
## Environment
Please provide as many details as you can:

- Hosting type
  - [x] Form.io
  - [x] Local deployment

## Steps to Reproduce
1. Drag and drop Select Field and any other component. Ex: text field.
2. For Select Field, go to the Data tab:
- set multiple values option to true.
- set a default value 
- for refresh options on, add the Textfield component and set a clear value on the refres

[2020-09-24 13:08] kunaljain611 opened #3299 "[BUG] Date\time->Modal Edit: In Firefox , after selecting a value, its shown as Invalid Date"
## Environment
Please provide as many details as you can:

- Hosting type
  - [x] Form.io
  - [x] Local deployment
- Browser: Fierfox

## Steps to Reproduce
1. Drag and drop a Date\Time with the following format yyyy-MM-dd HH:mm a
 and check Display -> Modal Edit options

## Expected behavior
It should show the date\time.
The same steps on Chrome and Edge browsers work properly.

## Observed behav

[2020-09-24 19:47] StephenOTT commented on #3281
@randallknutson were you able to confirm it as a bug?

[2020-09-24 21:12] #3273 closed

[2020-09-25 04:35] bleungAtGTI commented on #3291
oh i see, thanks :)

but any way to generate some random id for default value?

[2020-09-25 08:30] doublegrey commented on #3291
Sure! Just move your JavaScript to ```Custom Default Value``` block:

**GUID will be generated only on field initialization**. Hope that is what you need

![Untitled](https://user-images.githubusercontent.com/25150523/94245063-6794d700-ff22-11ea-8387-b7512cda76bc.gif)

JSON Schema used for demonstration
[code]
Have a nice day! 😄

[2020-09-25 17:45] jhen1422 commented on #3277
@elibus
You're completely right. Looks like the issue is only occurring when the date is reformatted. I've escalated this issue as a high priority ticket for us. Will let you know as soon as we have a resolution.

Please note that textfield set to calendar widget seems to be working correctly. I'm not sure if that helps your use case

[2020-09-25 18:27] jhen1422 commented on #3278
Thank you for the report. Looks like this is isolated to the builder outside of the form.io portal. We have added a ticket to our backlog and will be fixed in a future 4.12.x build. This issue will be notified when a resolution is in place. Thank you!

[2020-09-25 18:31] jhen1422 commented on #3299
Thank you for the report. We are aware of this issue and currently working on a fix. We will update this ticket when a resolution is in place. Thanks!

[2020-09-25 19:40] SalTor commented on #3295
[code]

[2020-09-25 19:50] SalTor commented on #3294
Like Ankita said, you have to do that on the components property of the tab. Here's another way you can do it
[code]

[2020-09-25 20:17] rustymcg9000 commented on #3294
Thanks both Ankita and SalTor, appreciate the help.

[2020-09-25 20:17] #3294 closed

[2020-09-28 01:52] cskr11 commented on #3295
But this we would be able to do only the initial time. Looks like we can accomplish this like the below.

`this.formBuilder = new FormBuilder(this.formCreator, {}, options);
      this.formBuilder
        .build()  .then((webformBuilder) => {
//value is WebformBuilder promise
//addBuilderGroup or updateBuilderGroup based on the existence of the group
webformBuilder.addBuilderGroup("testGroup", {

[2020-09-28 01:56] #3295 closed

[2020-09-28 02:24] #3291 closed

[2020-09-28 02:24] bleungAtGTI commented on #3291
@doublegrey thanks a lot, this is a nice day

[2020-09-28 04:16] thanhvietnguyen255 commented on #468
Hi guys,

How do I hide other options (Base64, Dropbox, ...) and keep IndexedDB only?
![image](https://user-images.githubusercontent.com/58280615/94390053-c2753b00-017b-11eb-88ae-d1b66210bb93.png)

[2020-09-28 14:10] SalTor commented on #3295
Good to know!

[2020-09-28 14:43] randallknutson commented on #3292
I don't think we have anything like that built in currently but would be open to adding it.

[2020-09-28 14:52] randallknutson commented on #3281
I believe this is a bug. Let me get it tested internally to verify.

[2020-09-28 14:55] travist commented on #3264
Yes, we should add this as a configurable option, although it concerns me that it is getting stripped away within JSON editor. That would require separate investigation.

[2020-09-28 14:58] StephenOTT commented on #3264
From some usage testing, It would be good if a custom url could be provided.  At the moment it appears it uses the project base url.  Would be great maybe if it reused the same sort of logic as the Dropdown lists: where you can define a url, headers, etc.

[2020-09-28 15:55] wag110894 commented on #3298
@kunaljain611 can you provide a JSFiddle of the issue taking place?

[2020-09-28 20:17] wag110894 commented on #3283
@bleungAtGTI For reference, the ticket number for this is FJS-1261.

Have a great day!

[2020-09-28 20:37] randallknutson commented on #3282
There should be a single root and each level can have multiple children. Each of those children can have multiple children. Is that what you are expecting?

[2020-09-29 03:25] kzhang-dsg commented on #3108
Hi @jhen1422 please reopen this issue as the issue is not fixed yet.

[2020-09-29 13:51] kzhang-dsg commented on #3108
I think the issue is with the `editgrid`.

If the select box is in a editgrid, then the changePath will become something like `"cars[0].make"`, which does not match the value in `refreshData` (which is just `"make"`):

![image](https://user-images.githubusercontent.com/15915824/94567171-c7e08d00-0230-11eb-983e-7a3a11606be7.png)

[2020-09-29 14:44] kzhang-dsg commented on #3108
Created a pull request https://github.com/formio/formio.js/pull/3307

[2020-09-29 18:53] tnorthcutt commented on #2739
Same thing for the Formio class; it leads to this URL: https://formio.github.io/formio.js/docs/class/src/Formio.js~Formio.html

![CleanShot 2020-09-29 at 12 53 22@2x](https://user-images.githubusercontent.com/796639/94602936-c88a1b00-0252-11eb-8422-89bdde58009a.png)

[2020-09-30 04:56] AmeeBhadania opened #3312 "[BUG] Value, few properties shown under Logic -> Action are irrelevant for Layout components"
## Environment
Please provide as many details as you can:

- Hosting type
  - [x] Form.io
- Formio.js version: Renderer v4.12.1-rc.4

## Steps to Reproduce
1. Add a layout component, say well
2. Go to Edit -> Logic -> Add Logic -> Add Action
3. Under the Action -> Type, we see 3 options in the dropdown; Property, Value and Merge Component Schema.

I believe Value is not applicable for Layout compo

[2020-09-30 07:00] neharagh opened #3313 "How to override default validation messages in angular or through formio portal?"
Hi Team,
I'm using angular-formio package in my project and wanted to know how and where should I override the custom validation messages. I'm creating forms through formio portal and with the help of the above package, integrating it to angular.

Html looks something like this
`<formio [form]="Form" (submit)="formSubmit($event)" (customEvent)="formCustomEvent($event)"></formio>`

In formio docume

[2020-09-30 13:56] KyooMario opened #3317 "Edit Grid on save row o.push is not a function"
We have integrated formiojs in Salesforce and in Sharepoint. And it works fine.
In Sharepoint we get an error in the Edit Grid module when saving a row.
(In Salesforce this is working fine.)
The error message is:
formio.full.min.js:102 Uncaught TypeError: o.push is not a function
    at n.value (formio.full.min.js:102)
    at HTMLButtonElement.<anonymous> (formio.full.min.js:102)

Can you advise w

[2020-09-30 14:24] randallknutson commented on #3317
Do you have an example form where this is occurring?

[2020-09-30 14:25] randallknutson commented on #3313
The error messages can be overridden using the "Custom Error Message" option. If you are on the old angular1 renderer and builder it may not show up but if you use the latest formio.js it is there.

[2020-09-30 14:27] randallknutson commented on #3312
You are correct that having a Value option does not make sense for layout components. Right now there is no easy way to customize the Action options per component type so these are all the same. In the 5.x branch we are revamping the whole way this works so it may be fixed there.

[2020-09-30 14:34] KyooMario commented on #3317
Hello Randall,

If you mean the formtemplate see below:

	"FormViewTemplate" : {
		"components" : [{
				"label" : "NormEigenschappen",
				"tableView" : false,
				"key" : "NormEigenschappen",
				"type" : "editgrid",
				"input" : true,
				"components" : [{
						"label" : "NormEigenschap",
						"cellAlignment" : "left",
						"tableView" : false,
						"key" : "NormEigenschap",
						"type" :

[2020-09-30 16:27] elibus commented on #3277
Fixed with #3237

[2020-09-30 16:27] #3277 closed

[2020-09-30 17:00] indioLatino commented on #1871
Any news on this issue?

[2020-09-30 18:54] besmiralia opened #3319 "Question: How do I render the current user's email as a default value of a textfield"

[2020-09-30 20:32] phucduong86 commented on #2986
This issue has been resolved. Thank you.

[2020-09-30 20:32] #2986 closed

[2020-09-30 20:34] randallknutson commented on #3319
In the Custom Default Value option in the textfield you can grab the email from wherever it is (possibly in Formio.getUser()) and then set it as the value.

[2020-10-01 07:39] neharagh commented on #3313
@randallknutson I'm sorry but I didn't get where to use Custom Error Message option. I'm using angular-formio package version 4.9.6.
I want to over write default of error key in the file -- i18n.js(node_modules\formiojs\i18n.js)
`resources: {
    en: {  error: 'Please fix the following errors before submitting.'}
}`
I couldn't find this option in components from formio portal. Should I edit the js

[2020-10-01 13:13] besmiralia commented on #3319
Thank you @randallknutson I was trying the regular `defaultValue` and it wasn't interpolating it.
I'll give it a try with 'customDefaultValue`

[2020-10-01 13:13] #3319 closed

[2020-10-01 14:34] randallknutson commented on #3313
The Custom Error Message option is on the Validations tab in the component settings.

<img width="780" alt="Form_IO" src="https://user-images.githubusercontent.com/246735/94823163-2a6c9100-03c9-11eb-8f6c-eea3955488c1.png">

If you are looking to translate the error messages, you should use the i18n support to translate it which we do not have a UI on portal to enter.
http://formio.github.io/formio

[2020-10-02 13:00] KyooMario commented on #3317
Hello Randall,

I did a deeper investigation and logged the following in the EditGrid.js

`if (!this.component.inlineEdit) {
        var dataValue = this.dataValue || [];
        console.log('dataValue: '+dataValue);

        if (editRow.editing) {
          dataValue[rowIndex] = editRow.data;
        } else {
          // Insert this row into its proper place.
          var newIndex = dataValue.l

[2020-10-02 13:26] KyooMario commented on #3317
I have extended the logging a bit more:

`key: "saveRow",
    value: function saveRow(rowIndex) {
      console.log('rowIndex: '+rowIndex);
      var editRow = this.editRows[rowIndex];
      console.log('editRow: '+editRow);
      console.log('editRow.dirty: '+editRow.dirty);
      console.log('editRow.isOpen: '+editRow.isOpen);
      console.log('this.options.readOnly: '+this.options.readOnly);

[2020-10-02 14:23] randallknutson commented on #3317
Thanks for the additional debugging! That does help us understand this a bit. I'm not sure why this is happening still so let me see if we can test it out and reproduce this.

[2020-10-02 14:37] KyooMario commented on #3317
Thanks. And just to be clear: I have got 2 integrations 1=Salesforce which works fine and 1=Sharepoint/framework7 which is giving me the trouble.
It seems the var dataValue = this.dataValue || []; is causing it.
When I just do var dataValue = []; the n.push error is gone.
But in that case the datavalue is not stored so everytime I want to edit the row it starts of with the empty [] of course.
So I

[2020-10-02 15:04] KyooMario commented on #3317
I just keep you updated on my findings. Maybe you get a hint.

When opening the form in the code snippet below:  this.dataValue = empty
But after I "add another" row this.dataValue = null
Which causes the issue.

`    key: "render",
    value: function render(children) {
      if (this.builderMode) {
        return _get(_getPrototypeOf(EditGridComponent.prototype), "render", this).call(this);

[2020-10-02 16:40] wag110894 commented on #1871
This fix is currently available on our 4.12.1-rc.7 build of formio.js, which is currently a release candidate. We can let you know once 4.12.1 has a stable release so you can pull this in if you would like.

[2020-10-02 16:51] wag110894 commented on #3297
Hello @mm-rspacjer,

We are able to replicate this issue on our side and have added it to our backlog. We welcome a pull request and also have a process to expedite this issue if you need it soon. For reference, the ticket number is FJS-1259.

Please let us know if you are interested in expediting by contacting support@form.io.

Thank you.

[2020-10-02 16:52] wag110894 commented on #3285
Hello @AmeeBhadania

We are able to replicate this issue on our side and have added it to our backlog. We welcome a pull request and also have a process to expedite this issue if you need it soon. For reference, the ticket number is FJS-1260.

Please let us know if you are interested in expediting by contacting support@form.io.

Thank you.